.campaign-container {
    width: 100%;
    font-size: 0;
    // padding-bottom: 0.35rem;
    img {
        width: 100%;
        margin-bottom: -1px;
    }
}
.campaign-ft {
    width: 100%;
    font-size: 0;
    position: fixed;
    bottom: 0;
    img{
        width: 100%;
    }
}