<div class="order-submitting-container">
    <!-- 顶部邮费说明 -->
    <div class="flex-satisfy" v-if="showShipFeeFlag">
        <template v-if="chooseAddressState == 1">
        </template>
        <template v-else-if="chooseAddressState <= 3">
            <div class="weui-flex__item">
                <i class="iconfont icon-remind center red"></i>
                <b>
                    校区配送区域外未满
                    <span class="center red">{{dissatisfyPrice_outArea | localMoney}}元</span>
                    将收取配送费
                    <span class="red">{{shipFee_outArea | localMoney}}元</span>
                </b>
            </div>
            <p class="center red" v-if="chooseAddressState == 2">(校外偏远地区订单运费另算)</p>
        </template>
        <template v-else-if="chooseAddressState == 4">
            <div class="weui-flex__item">
                <i class="iconfont icon-remind center red"></i>
                <b>
                    校区配送区域内未满
                    <span class="center red">{{dissatisfyPrice_inArea | localMoney}}元</span>
                    将收取配送费
                    <span class="red">{{shipFee_inArea | localMoney}}元</span>
                </b>
            </div>
        </template>
    </div>
    <!-- 订单信息汇总 -->
    <div class="order-detail-content">
        <header class="order-submitting-header">
            <!-- 实物 -->
            <div v-if="goodsType == 'entity'">
                <div class="weui-cell" v-if="!selectAddressFlag" @click="dialogSelectAddress()">
                    <div class="weui-cell__bd">
                        <i class="wybc-icon wybc-icon-plus"></i>
                        <span>新增收货地址</span>
                    </div>
                    <div class="weui-cell__ft">
                        <i class="icon iconfont icon-xiangyoujiantou"></i>
                    </div>
                </div>
                <div v-if="selectAddressFlag" class="order-submitting-address-info">
                    <div class="weui-cell" @click="dialogSelectAddress()">
                        <div class="weui-cell__hd">
                            <i class="icon iconfont icon-shouhuodizhi"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <span class="address-sjr text-ellipsis">收件人： {{addressObj.name}}</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span class="phone-fl-right">{{addressObj.phone}}</span>
                            <span class="address-detail-sex" v-if="addressObj.sex">{{addressObj.sex == 1 ? '男生宿舍' : '女生宿舍'}}</span>
                        </div>
                    </div>
                    <div class="address-detail text-ellipsis">
                        收货地址：
                        <span class="address-info" v-if="addressObj.addressInfo">
                            <span v-if="addressObj.addressInfo.campus">{{addressObj.addressInfo.campus}}</span>
                            <span v-if="addressObj.addressInfo.dormitory">{{addressObj.addressInfo.dormitory}}</span>
                            <span v-if="addressObj.addressInfo.province">{{addressObj.addressInfo.province.na}}</span>
                            <span v-if="addressObj.addressInfo.city">{{addressObj.addressInfo.city.na}}</span>
                            <span v-if="addressObj.addressInfo.district">{{addressObj.addressInfo.district.na}}</span>
                            <span>{{addressObj.address}}</span>
                        </span>
                    </div>
                </div>
                <div class="weui-progress">
                    <div class="weui-progress__bar">
                        <div class="weui-progress__inner-bar subitting-progress" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            <!-- 虚拟 -->
            <div v-else>
                <div class="weui-cell" v-for="item in leaveMsg">
                    <div class="weui-cell__hd">
                        <label class="weui-label">
                            <span class="text-danger">*</span>{{item.name}}</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" :type="item.format === 1 ? 'tel' : 'text'" :placeholder="item.placeholder" :value="item.value"
                            @change="changeInput(item, $event)">
                    </div>
                </div>
            </div>
        </header>
        <!-- 商品 -->
        <section>
            <div class="order-detail-list">
                <div class="order-detail-item" v-for="(item, index) in goodsList">
                    <div class="order-detail-head">
                        <i class="icon iconfont icon-shop"></i>
                        <span>{{item.shopName}}</span>
                    </div>
                    <div v-for="(v,i) in item.shopCarts">
                        <div class="weui-cell order-box-detail">
                            <div class="weui-cell__hd">
                                <img :src="v.coverImg" alt="商品图片" class="order-img">
                            </div>
                            <div class="weui-cell__bd">
                                <div class="order-text">{{v.goodsName}}</div>
                                <div class="order-money" v-if="v.consuType==3&&!periodIdBuyFlag">
                                    <span class="color-ff1c1c">{{v.moneyPrice | localMoney}}+</span>
                                    <img src="/static/images/money/icon.png" alt="">
                                    <span class="color-ee893e">{{v.goldPrice}}</span>
                                </div>
                                <div class="order-money" v-if="periodIdBuyFlag">
                                    <span class="color-ff1c1c">{{v.moneyPrice | localMoney}}</span>
                                </div>
                            </div>
                            <div class="weui-cell__ft">
                                <div class="label-money" :class="{'color-808080':(v.consuType==3 || periodIdBuyFlag)}">{{v.purchasePrice | localMoney}}</div>
                                <div class="order-num-tip" :class="{'label-money': !v.number}">x{{v.number}}</div>
                            </div>
                        </div>
                        <div class="bg-white-5" v-if="item.shopCarts&&item.shopCarts.length-1>i"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 总计 -->
        <section class="order-total">

            <!-- 配送方式  order-deliveryWay-->
            <div class="weui-cell flex-align-t order-border-bottom" v-if="!orderTotal.goldShow">
                <div class="weui-cell__bd">配送方式</div>
                <div class="weui-cell__ft ">
                    {{deliveryWay}}
                    <div class="text-c-7dcc43 text-s-12">{{deliveryArrive}}</div>
                </div>
            </div>

            <!-- 使用抵扣券 -->
            <div class="weui-cell order-border" v-if="!orderTotal.goldShow && !periodIdBuyFlag">
                <div class="weui-cell__bd">优惠券</div>
                <!-- @click="useCoupon" -->
                <div class="weui-cell__ft order-text1">
                    <span class="orange" v-show="!couponShow&&userCouponShow">无可使用优惠券</span>
                    <span class="orange" v-show="!couponShow&&!userCouponShow" @click="goCouponDetail">点击使用优惠券</span>
                    <span v-show="couponShow&&!userCouponShow" @click="goCouponDetail">-{{couponMoney | localMoney}}</span>
                    <i class="iconfont icon-mjiantou"></i>
                </div>
            </div>
            <!-- 实物 -->
            <div v-if="goodsType == 'entity'">
                <div class="weui-cell zero"></div>
                <div class="weui-cell weui-noborder">
                    <div class="weui-cell__bd">原价小计</div>
                    <div class="weui-cell__ft order-text">
                        {{orderTotal.price | localMoney}}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">配送费</div>
                    <div class="weui-cell__ft order-text">{{ shipFee | localMoney}}</div>
                </div>
                <!-- 金币购 -->
                <div class="weui-cell" v-if="orderTotal.goldShow">
                    <div class="weui-cell__bd">抵扣金币</div>
                    <div class="weui-cell__ft order-text orange">
                        <img src="/static/images/money/icon.png" alt="">{{orderTotal.goldPrice}}</div>
                </div>
                <!-- 限时购抵扣 -->
                <div class="weui-cell" v-if='periodIdBuyFlag'>
                    <div class="weui-cell__bd">限时购优惠</div>
                    <div class="weui-cell__ft order-text orange">-{{dicCountTimeMoney | localMoney}}</div>
                </div>
                <!-- 优惠券 -->
                <div class="weui-cell" v-if='!orderTotal.goldShow&&couponShow&&!userCouponShow'>
                    <div class="weui-cell__bd">优惠券</div>
                    <div class="weui-cell__ft order-text orange" >-{{disCouponMoney | localMoney}}</div>
                </div>
            </div>
            <!-- 虚物 -->
            <div v-else>
                <div class="weui-cell zero"></div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">原价小计</div>
                    <div class="weui-cell__ft order-text">
                        {{orderTotal.purchasePrice | localMoney}}
                    </div>
                </div>
            </div>
            <!-- 合计 -->
            <div class="weui-cell">
                <div class="weui-cell__bd">合计</div>
                <div class="weui-cell__ft order-text">
                    {{orderTotal.pay | localMoney}}
                </div>
            </div>
        </section>
    </div>
    <!-- 提交 -->
    <footer class="order-submitting-footer weui-tabbar">
        <div class="weui-flex weui-cell__bd text-right flex-right">
            <span class="span-money label-money">{{orderTotal.pay | localMoney}}</span>
            <span>需付:</span>
            <!-- <span v-if="minimumConsumption>=0 && minimumConsumption>orderTotal.pay" class="min_cost">最低消费 {{ minimumConsumption |localMoney}}</span> -->
        </div>
        <div class="weui-cell__ft">
            <button class="weui-btn_mini weui-btn button_able" type="button" @click="submitOrder()">提交订单</button>
        </div>
    </footer>
    <!-- 地址操作 -->
    <div class="address-container">
        <address-dialog :close="closeDialogAddess" v-if="showDialogAddress" :selectAddress="selectAddress" :selectId="orderAddress.addrId" :ops="{wdInfo:wdInfo, defaultWay: defaultWay, goldShow: orderTotal.goldShow}"></address-dialog>
        <address-operation :close="closeCrateAddress" v-if="showAddAddress" :item="{}"></address-operation>
    </div>
</div>