/**
 * 背景色
 */

.bg-c {
    &-fff {
        background-color: #fff;
    }
    &-f2f2f2 {
        background-color: #f2f2f2;
    }
    &-fafafa {
        background-color: #fafafa;
    }
    &-e6e6e6 {
        background-color: #e6e6e6;
    }
    &-b3b3b3 {
        background-color: #b3b3b3;
    }
    &-b8b8b8 {
        background-color: #b8b8b8;
    }
    &-333 {
        background-color: #333;
    }
    &-ccc{
        background-color: #ccc;
    }
    &-mode {
        background-color: rgba(18, 18, 18, 0.7);
    }
    &-ff3a80 {
        background-color: #ff3a80;
    }
    &-fe8299 {
        background-color: #fe8299;
    }
    &-f00 {
        background-color: #f00;
    }
    &-ff2020 {
        background-color: #ff2020;
    }
    &-ed1319 {
        background-color: #ed1319;
    }
    &-d42f1c {
        background-color: #d42f1c;
    }
    &-fb4767 {
        background-color: #fb4767;
    }
    &-ff1c1c {
        background-color: #ff1c1c;
    }
    &-ff973a {
        background-color: #ff973a;
    }
    &-ffd949 {
        background-color: #ffd949;
    }
    &-ff6839{
        background-color: #ff6839;
    }
    &-fbf4d9 {
        background-color: #fbf4d9;
    }
    &-ecca41 {
        background-color: #ecca41;
    }
    &-7ecc44 {
        background-color: #7ecc44;
    }
    &-7dcc43 {
        background-color: #7dcc43;
    }
}