/**
 * 文本色
 */

.text-c {
    &-fff {
        color: #fff;
    }
    &-e6e6e6 {
        color: #e6e6e6;
    }
    &-aaa {
        color: #aaa;
    }
    &-b3b3b3 {
        color: #b3b3b3;
    }
    &-999 {
        color: #999;
    }
    &-949494 {
        color: #949494;
    }
    &-808080 {
        color: #808080;
    }
    &-5a5a5a {
        color: #5a5a5a;
    }
    &-333 {
        color: #333;
    }
    &-000 {
        color: #000;
    }
    &-7dcc43 {
        color: #7dcc43;
    }
    &-7ecc44 {
        color: #7ecc44;
    }
    &-f5ba39 {
        color: #f5ba39;
    }
    &-f99939 {
        color: #f99939;
    }
    &-ffa914 {
        color: #ffa914;
    }
    &-ff902d {
        color: #ff902d;
    }
    &-ff6839 {
        color: #ff6839;
    }
    &-ee893e {
        color: #ee893e;
    }
    &-ff752a {
        color: #ff752a;
    }
    &-97500a{
        color: #97500a;
    }
    &-f74cac {
        color: #f74cac;
    }
    &-ff586c {
        color: #ff586c;
    }
    &-f23a13 {
        color: #f23a13;
    }
    &-ff1c1c {
        color: #ff1c1c;
    }
    &-ff001e {
        color: #ff001e;
    }
    &-f41c1c {
        color: #f41c1c;
    }
    &-e74143 {
        color: #e74143;
    }
    &-ed1e24{
        color: #ed1e24;
    }
    &-ff3a80{
        color: #ff3a80;
    }
    &-3398ff {
        color: #3398ff;
    }
    &-3b8eff {
        color: #3b8eff;
    }
    &-657bff{
        color: #657bff;
    }
}