<div class="information">
    <div class="swiper-container" ref="informationSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(item,index) in dataList" @click="changeType(index)" :class="{'navbar-active':showIndex==index}">
                {{ item.name }}
            </div>
        </div>
    </div>
    <div class="page" v-for="(item,index) in dataList" v-if="showIndex == index" :key="index">
        <pull-refresh :refresh="refresh" :infinite="infinite">
            <!--  :pages="{page: item.page, total: item.data.length}" -->

            <template v-for="news in item.data">

                <!-- 上文下图 底描述 -->
                <div class="weui-media-box weui-media-box_text" @click="goNewsDetail(news.url,news.id)" v-if="news.cover.box_aside||news.cover.box_media">
                    <h4 class="weui-media-box__title">{{ news.title }}</h4>
                    <p class="weui-media-box__desc" :class="{'figure_video':news.cover.box_media}">
                        <img :src="news.cover.box_aside.img[0]" alt="" v-if="news.cover.box_aside">
                        <img :src="news.cover.box_media.img[0]" alt="" v-else>
                    </p>
                    <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta">{{ news.origin }}</li>
                        <li class="weui-media-box__info__meta">{{ news.author }}</li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">浏览 {{ news.ppv }}</li>
                    </ul>
                </div>


                <!-- 上文下图 底描述 -->
                <div class="weui-media-box weui-media-box_text" @click="goNewsDetail(news.url,news.id)" v-else-if="news.cover.box_text">
                    <h4 class="weui-media-box__title">{{ news.title }}</h4>
                    <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta">{{ news.origin }}</li>
                        <li class="weui-media-box__info__meta">{{ news.author }}</li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">浏览 {{ news.ppv }}</li>
                    </ul>
                </div>

                <!-- 上文下图 底描述 -->
                <div class="weui-media-box weui-media-box_text" @click="goNewsDetail(news.url,news.id)" v-else-if="news.cover.box_img">
                    <h4 class="weui-media-box__title">{{ news.title }}</h4>
                    <p class="weui-media-box__desc figure_pic">
                        <img :src="news.cover.box_img.img[0]" alt="">
                        <img :src="news.cover.box_img.img[1]" alt="">
                        <img :src="news.cover.box_img.img[2]" alt="">
                    </p>
                    <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta">{{ news.origin }}</li>
                        <li class="weui-media-box__info__meta">{{ news.author }}</li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">浏览 {{ news.ppv }}</li>
                    </ul>
                </div>


                <!-- 左文和描述 右图 -->
                <div class="weui-media-box weui-media-box_appmsg" @click="goNewsDetail(news.url,news.id)" v-else-if="news.cover.box_test">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{{ news.title }}</h4>
                        <ul class="weui-media-box__info">
                            <li class="weui-media-box__info__meta">{{ news.origin }}</li>
                            <li class="weui-media-box__info__meta">{{ news.author }}</li>
                            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">浏览 {{ news.ppv }}</li>
                        </ul>
                    </div>
                    <div class="weui-media-box__hd">
                        <figure>
                            <img :src="news.cover.box_test.img[0]" alt="">
                        </figure>
                    </div>
                </div>

            </template>

        </pull-refresh>
    </div>
</div>