.layout-nav-footer {
    position: absolute;
    bottom: 0;
    z-index: 500;
    width: 100%;
    height: 60px;
    background-color: #fff;
    .line {
        height: 1px;
        width: inherit;
        background-color: #e5e4e4;
    }
    .nav-boxs {
        align-items: center;
        height: inherit;
        .nav-box {
            position: relative;
            text-align: center;
            .weui-badge{
                position: absolute;
            }
        }
        .nav-label {
            font-size: 13px;
            color: #999
        }
        .router-link-exact-active,
        .router-link-active {
            .nav-label {
                color: #7dcc43;
            }
        }
    }
}