<div class="malls-layout warp" ref="warpRef">

    <!-- 头部  店铺信息 -->
    <header class="header" v-show="isHead">
        <!-- 搜索 -->
        <div class="indexBox_logo">
            <dl class="wdName">
                <dt>
                    <img :src="$store.state.env_state.cache.currentShop.wdImg || '/static/images/newshop/touxiang.png'">
                </dt>
                <dd>
                    <div class="weui-flex flex-align-m">
                        <h4 class="text-ellipsis">{{$store.state.env_state.cache.currentShop.wdName}}</h4>
                        <div class="wd-directsale text-s-12 text-c-657bff" v-show="$route.name === 'classify'">店长直营</div>
                        <div class="wd-directsale-red text-s-12" v-show="$route.name === 'shop_chief'">店铺代理</div>
                    </div>
                    <div class="wd-school text-ellipsis text-c-333 text-s-12">{{$store.state.env_state.cache.currentShop.school}}</div>
                    <p>
                        <span>{{'M' + $store.state.env_state.cache.currentShop.wdVipGrade}}</span>
                    </p>
                </dd>
            </dl>
            <div class="wdName_ft weui-flex flex-align-m">
                <!-- 4.6.3 v-show="$route.name === 'new_home'-->
                <div class="add-follow text-c-333 text-center" v-show="$route.name == 'home'" @click="followShop">
                    <span class="text-s-15" v-if="!isFollow">+</span>
                    <span class="text-s-13 ">{{followName}}</span>
                </div>
                <div class="serBox " @click='goSearch($route.name)' v-show="isHeadSearch">
                    <i class="iconfont icon-sousuo sercher"></i>
                </div>
            </div>
        </div>
    </header>


    <!-- 内容区域 -->
    <div class="main-content views">
        <keep-alive>
            <router-view v-if="$route.meta.keepAlive"></router-view>
        </keep-alive>
        <router-view v-if="!$route.meta.keepAlive"></router-view>
    </div>

    <!-- 底部菜单 -->
    <footer class="layout-nav-footer custom-footer" v-if="isCreatedMenu">
        <div class="line"></div>
        <div class="weui-flex nav-boxs">
            <router-link :to="item.path" :title="item.title" class="weui-flex__item nav-box" v-for="item,key in list" :key="key">
                <img class="wybc-icon" :src="item.imgDefSrc" :alt="item.title" v-show="item.name !== activeName">
                <img class="wybc-icon" :src="item.imgActSrc" :alt="item.title" v-show="item.name === activeName">
                <span class="weui-badge" v-if="item.showBadge && $store.state.shopCar.count">{{$store.state.shopCar.count>99?'99+':$store.state.shopCar.count}}</span>
                <p class="nav-label">{{item.title}}</p>
            </router-link>
        </div>
    </footer>
</div>