<div class="myincome-container">
    <header class="myincome-hd">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div>累计收益</div>
                <div class="income-total">{{totalMoney | localMoney}}</div>
            </div>
            <div class="weui-flex__item">
                <div>今日收益</div>
                <div class="income-today">{{todayMoney | localMoney}}</div>
            </div>
            <div class="weui-flex__item">
                <div>今日支出</div>
                <div class="income-today">{{todayConsume | localMoney}}</div>
            </div>
        </div>
    </header>

    <section class="myincome-bd">
        <div class="weui-navbar">
            <div class="weui-navbar__item" :class="{'weui-bar__item_on':showItemId == item.id}" @click="changeView(item)" v-for="item in dataList"
                v-text="item.value"></div>
        </div>
    </section>
    <footer class="myincome-ft">
        <div class="myincome-ft-view" v-for="item in dataList" v-show="showItemId == item.id" :key="item.id">
            <pull-refresh :refresh="refresh" :infinite="infinite" v-if="item.create">
                <template v-for="(goods, i) in item.data">
                    <div class="order-box">
                        <div class="box-hd weui-flex">
                            <div class="weui-flex__item">{{goods.title}}</div>
                            <div class="weui-flex__item" :class="goods.isOrder ? ( goods.isUserOrder ? 'ud' : 'ch' ) : 'hd'">{{goods.incomeInfo}}</div>
                        </div>
                        <div class="box-bd weui-flex">
                            <img class="shop-img" src="../static/images/minishop/jia.png" v-if="item.consuType">
                            <img class="shop-img" src="../static/images/minishop/jian.png" v-else>
                            <div class="shop-info weui-flex__item">
                                <div class="shop-name" v-html="goods.descri"></div>
                                <div class="shop-money">
                                    {{ goods.incomeType }}:
                                    <span :class="item.consuType ? 'xs-money' : 'tc-money' ">{{ item.consuType ? '+': '' }}{{ goods.amount | localMoney}}</span>
                                </div>
                                <div class="shop-date">{{ goods.createAt }}</div>
                            </div>
                        </div>
                    </div>
                </template>
            </pull-refresh>
        </div>
    </footer>
</div>