<div class="templ-coupon-container text-center" :style="{'visibility': show ? 'visible': 'hidden'}">


    <div class="templ-coupon_hd text-c-fff">
        <div class="text-right">
            <i class="iconfont icon-cuowu " @click="close"></i>
        </div>
        <div class="text-center">
            <img class="weui-flex__item" src="../static/images/money/1111.png">
        </div>
    </div>


    <div class="templ-coupon_bd " ref="contentRef">
        <img class="coupon_pic" src="../static/images/money/2222.png" ref="coupon_pic_copy" @load="imgLoading()">

        <template v-for="(item, index) in list">
            <div class="templ-coupon-box" :style="{'visibility': activatedIndex == index ? 'visible': 'hidden'}">
                <div class="templ-coupon-box_hd text-c-e74143">
                    <div class="text-s-26">{{ item.moneyPrice | localMoney('') }}元</div>
                    <div class="text-s-13" v-if="coupon.minOrderPrice">满{{ item.minOrderPrice | localMoney('') }}减{{ item.moneyPrice | localMoney('') }}</div>
                    <div class="text-s-13" v-else>立减{{ item.moneyPrice | localMoney('') }}</div>
                </div>
                <div class="templ-coupon-box_bd text-s-21 text-c-fff">{{ item.wdName }}</div>
                <div class="templ-coupon-box_ft" ref="qrRef">
                </div>
            </div>
        </template>

        <template v-for="(item, index) in list">
            <img class="templ-coupon-qrimg" ref="qrimgRef" :style="{'visibility': activatedIndex == index ? 'visible': 'hidden'}">
            </img>
        </template>
    </div>


</div>