.myremind-container {
    width: 100%;
    // padding-left: 12px;
    // padding-right: 12px;
    .result_list{
        margin: 0 12px;
    }
    .timelimit-title {
        height: 46px;
        line-height: 46px;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 10px;
        position: relative;
        &:before{
            content: ' ';
            position: absolute;
            left: -5px;
            top: 40%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f00;
        }
    }
}