#indexBox {
    overflow: hidden;
    margin-bottom: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        background: #ffffff;
    }
    .home-content {
        position: relative; // height: 5.68rem
        flex: 1; // margin-top: 0.95rem;
        .carousels {
            height: 1.43rem;
            width: 100%;
        }
    }
    .indexBox_logo {
        height: 0.86rem;
        padding: 0.13rem 0;
        background: #fff;
        border-bottom: 0.08rem solid #f2f2f2;
        .wdName {
            height: 100%;
            flex: 1;
            padding-left: 0.1rem;
            display: flex;
            align-items: center;
            dt {
                height: 0.5rem;
                width: 0.5rem;
                border-radius: 0.05rem;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            dd {
                height: 100%;
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-left: 0.1rem;
                line-height: 1;
                overflow: hidden;
                h4 {
                    font-size: 0.16rem;
                    max-height: .16rem;
                    font-weight: normal;
                }
                >span {
                    font-size: 0.12rem;
                    max-height: .12rem;
                    margin: 5px 0;
                }
                h4,
                >span {
                    color: #333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: block;
                    width: 100%;
                }
                div {
                    height: 0.15rem;
                    width: 0.3rem;
                    color: #fff;
                    background-color: #ff1c1c;
                    font-size: 0.12rem;
                    text-align: center;
                    line-height: 0.15rem;
                    border-radius: 0.03rem;
                }
                p {
                    height: 0.14rem;
                    width: 0.7rem;
                    background: url("/static/images/newshop/vip.png") center center;
                    background-size: 100% 100%;
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                        margin-left: 0.3rem;
                        font-size: 0.12rem;
                        color: #fff;
                    }
                }
            }
        }
        .serBox {
            height: 0.5rem;
            width: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sercher {
            font-size: 0.2rem!important;
            color: #808080;
        }
    }
    .indexBox_nav {
        height: 0.45rem;
        display: flex;
        align-items: center;
        li {
            float: left;
            &:nth-of-type(1) {
                height: 0.14rem;
                width: 0.3rem;
                margin-left: 0.1rem;
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            &:nth-of-type(2) {
                display: flex;
                align-items: center;
                height: 0.3rem;
                width: 82%;
                background: #f2f2f2;
                border-radius: 0.35rem;
                margin-left: 0.14rem;
                padding-left: 0.06rem;
                .iconfont {
                    font-size: 0.18rem!important;
                }
                .txt_input {
                    width: 2.3rem;
                    font-size: 0.12rem;
                    height: 0.18rem;
                    padding-left: 0.03rem;
                    border: none;
                    background: #f2f2f2;
                    margin: 0;
                    line-height: 0.18rem;
                    outline: none;
                    color: #b3b3b3;
                }
            }
        }
    }
    .carousel {
        height: 1.43rem;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .goodsList li {
        overflow: hidden;
        .shopPic {
            border-top: 0.02rem solid #f2f2f2;
            overflow: hidden;
            .shopPic_gs {
                float: left;
                width: 1.865rem;
                height: 2.49rem;
                background: #ffffff; // border-bottom: 0.02rem solid #f2f2f2;
                margin-bottom: 0.02rem;
                &:nth-of-type(even) {
                    float: right;
                    width: 1.885rem;
                    border-left: 0.02rem solid #f2f2f2;
                }
                a {
                    display: block;
                    height: 100%;
                }
                dt {
                    height: 1.72rem;
                    width: 1.865rem;
                    position: relative;
                    .progressive-image {
                        height: 100%;
                    }
                    span:nth-of-type(1) {
                        position: absolute;
                        display: block;
                        height: 0.5rem;
                        width: 0.5rem;
                        top: 0;
                        left: 0;
                    }
                    span:nth-of-type(2) {
                        position: absolute;
                        display: block;
                        height: 0.16rem;
                        font-size: 0.12rem;
                        background: #ff1c1c;
                        color: #ffffff;
                        padding: 0 0.05rem;
                        top: 0;
                        right: 0;
                        line-height: 0.16rem;
                        border-radius: 0.06rem;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                dd {
                    margin: 0;
                    padding-left: 0.13rem;
                    text-align: left;
                    &:nth-of-type(1) {
                        width: 1.75rem;
                        line-height: 0.16rem;
                        font-size: 0.15rem;
                        color: #333333;
                        margin-top: 0.04rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: 600;
                    }
                    &:nth-of-type(2) {
                        width: 1.75rem;
                        height: 0.16rem;
                        line-height: 0.16rem;
                        margin-top: 0.04rem;
                        span {
                            display: block;
                            color: #808080;
                            font-size: 0.12rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    &:nth-of-type(3) {
                        margin-top: 0.04rem;
                        height: 0.2rem;
                        line-height: 0.2rem;
                        color: #333;
                        position: relative;
                        span {
                            color: #ff1c1c;
                            font-size: 0.16rem;
                            &:nth-child(2) {
                                position: absolute;
                                display: block;
                                height: 25px;
                                width: 25px;
                                border: 1px solid #7ecc44;
                                border-radius: 2px 2px;
                                top: 0;
                                right: 10px;
                                line-height: 25px;
                                text-align: center;
                                .icon-gouwuche {
                                    color: #7ecc44;
                                    font-size: 20px!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .topNav {
        position: fixed;
        top: 44px;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: #f2f2f2;
        padding-top: 5px;
    }
}