<app-container>
    <div class="userinfo_web" ref="userinfo">
        <section class="box user" ref="user">
            <div class="box_bd">
                <aside class="userinfo-msg" :data-numb=" userMsgNum ? userMsgNum : '' " v-if="userLogin">
                    <i class="iconfont icon-talk" @click="toUserMsg()">
                    </i>
                </aside>
                <aside class="text-right">
                    <i class="iconfont icon-tuichu login-out" v-if="userLogin" @click="logOff()"></i>
                </aside>
                <article>
                    <figure class="user-pic">
                        <img :src="user_img" @error="imgError()">
                    </figure>
                    <div>
                        <span v-if="userLogin" v-text=" getUserName (userInfo.name || userInfo.nickname || userInfo.loginName || '? ? ?') "></span>
                        <button type="button" id="login" @click="toLogin" v-else>点击登录</button>
                    </div>
                </article>
            </div>
        </section>
        <div class="weui-flex pointList" v-if="userLogin">
            <div class="weui-flex__item" v-for="item in pointData" @click="toRouter(item.path)" :style="item.style">
                <h4 v-text="item.name"></h4>
                <p>
                    <!-- <img :src="item.img" :style="item.imgStyle"> -->
                    <span>&nbsp;{{ userScore[item.value] }}</span>
                </p>
            </div>
        </div>
        <div class="weui-flex orderList">
            <div class="weui-flex__item" @click="toOrderList(order.index)" v-for="order in orderList">
                <figure :data-alert="order.num">
                    <img :src="'/static/images/newshop/' + order.pic + '.png'">
                </figure>
                <p v-text="order.type"></p>
            </div>
        </div>
        <div class="weui-cells" v-if="userLogin&&!hasShopError">
            <div class="weui-cell userinfo_pic">
                <div class="weui-cell__bd">
                    <figure>
                        <img src="static/images/minishop/yikaidian.png" alt="" @click="toShop" v-if="hasShop">
                        <img src="static/images/minishop/weikaidian.png" alt="" @click="toApply" v-else>
                    </figure>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <!-- <router-link class="weui-cell weui-cell_access" :to="{path:'recommend_shop'}">
                <div class="weui-cell__bd">
                    <p>推荐开店</p>
                </div>
                <div class="weui-cell__ft"></div>
            </router-link> -->
            <router-link class="weui-cell weui-cell_access" :to="{path:'information'}">
                <div class="weui-cell__bd">
                    <p>资讯</p>
                </div>
                <div class="weui-cell__ft"></div>
            </router-link>
            <router-link class="weui-cell weui-cell_access" :to="'user_address'">
                <div class="weui-cell__bd">
                    <p>收货地址管理</p>
                </div>
                <div class="weui-cell__ft"></div>
            </router-link>
            <router-link class="weui-cell weui-cell_access" :to="{path:'lead',query:{valid:true}}">
                <div class="weui-cell__bd">
                    <p>切换店铺</p>
                </div>
                <div class="weui-cell__ft"></div>
            </router-link>
            <router-link class="weui-cell weui-cell_access" :to="{path:'rank_gold'}">
                <div class="weui-cell__bd">
                    <p>排行榜</p>
                </div>
                <div class="weui-cell__ft"></div>
            </router-link>
            <router-link class="weui-cell weui-cell_access" :to="{path:'about'}">
                <div class="weui-cell__bd">
                    <p>关于我们</p>
                </div>
                <div class="weui-cell__ft"></div>
            </router-link>
          
        </div>
    </div>
</app-container>