<div class="list_content" @click="toOrderDetail()">
	<!-- 订单号&&交易状态 -->
	<div class="weui-flex order-title">
		<!-- <span class="color-gray">订单号:{{(order.orders[0].orderState==1||order.orders[0].orderState==6)?order.orders[0].combinOrderNo:order.orders[0].orderNo}}</span> -->
		<span class="color-gray">订单号:{{order.orders[0].combinOrderNo}}</span>
		<span class="weui-flex-item flex title-state color-green">{{transOrderState()}}</span>
	</div>

	<!-- 订单商品列表 -->
	<div v-for="(subOrder,index) in order.orders">
		<div v-if="loadGoods(index)" class="weui-flex order-goods">
			<img class="goods-cover" :src=order.goodses[index].coverImg alt="">
			<div class="flex goods-info">
				<div class="weui-flex">
					<span>{{order.goodses[index].goodsName}}</span>
					<span class="flex price">{{subOrder.moneyPrice|localMoney}}</span>
				</div>
				<p class="">x {{subOrder.number}}</p>
			</div>
		</div>
	</div>

	<!-- 商品列表展开选项 -->
	<div v-if="order.orders.length>1" class="expand-link">
		<span>查看全部 {{order.orders.length}} 件商品 </span>
	</div>

	<!-- 已发货 -->
	<div v-if="order.logis">
		<div class="order-plus weui-flex flex-right">
			<span>物流公司: {{order.logis.logisName}}</span>
			<span class="flex">运单号: {{order.logis.logisNo}}</span>
		</div>
		<div class="row-line"></div>
	</div>

	<!-- 总计 -->
	<div v-if="order.ownStore">
		<div class="order-plus weui-flex flex-right">
			<span class="desc-font color-red"> {{getShipFee() | localMoney}}</span>
			<span class="desc-font color-black">配送费:&nbsp;&nbsp;</span>
		</div>
		<div class="row-line"></div>
	</div>
	<!-- 总计 -->
	<div v-if="getCouponMoney()">
		<div class="order-plus weui-flex flex-right">
			<span class="desc-font color-red"> -{{getCouponMoney() | localMoney}}</span>
			<span class="desc-font color-black">进货券:&nbsp;&nbsp;</span>
		</div>
		<div class="row-line"></div>
	</div>

	<!-- 总计 -->
	<div v-if="true">
		<div class="order-plus weui-flex flex-right">
			<span class="desc-font color-red"> {{orderTotalMoney()+getShipFee() | localMoney}}</span>
			<span class="desc-font color-black">{{order.orders[0].orderState==1||order.orderState==6?'需付':'实付款'}}:&nbsp;&nbsp;</span>
		</div>
		<div class="row-line"></div>
	</div>
	<!-- 已发货 -->
	<!-- <div v-if="order.orderState==4 && order.orderType==3">
		<div class="order-plus weui-flex flex-right">
			<button class="item-button button-green" @click.stop="confirmRecive(order.orders[0].orderId)">确认收货</button>
		</div>
		<div class="row-line"></div>
	</div> -->
	<!-- 功能 -->
	<div v-if="order.orderState===1">
		<div class="order-plus weui-flex flex-right">
			<button @click.stop="payOrder(order.orders[0].combinOrderNo,order.orders[0].ownStore)" class="item-button button-green">支付</button>
			<button @click.stop="cancelOrder()" class="item-button button-pink">取消</button>
		</div>
	</div>
</div>