<app-container class="up-container">
    <div>
        <header class="up-hd">
            <div class="up-steps">
                <template v-for="(step, index) in steps">
                    <!--  @click="switchStep(step, index)" -->
                    <div class="up-step" :class="{'success': step.success}">
                        <i class="up-step-state"></i>
                        <div class="up-step-text">
                            {{step.name}}
                        </div>
                    </div>
                </template>
            </div>
        </header>
        <section class="up-bd">
                <div class="up-pay">
                    <div class="up-pay-info">
                        <div class="pay-info-text">
                            <div class="pay-money">{{pledgeMoney | localMoney}}</div>
                            押金（可退）
                        </div>
                    </div>
                    <div class="up-pay-select">
                        <div class="pay-cell" v-for="item in payList">
                            <div class="pay-cell_hd">
                                <img :src="item.src" alt="">
                            </div>
                            <div class="pay-cell_bd">
                                {{item.name}}
                            </div>
                            <div class="pay-cell_ft" @click="swtichPay(item)">
                                <i :class="[item.type === payActive ? 'weui-icon-success' : 'weui-icon-circle']"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <footer class="up-ft" slot="footer">
        <template>
            <button class="to_pay_btn deposit" type="button" @click="toPay">
                立刻支付
            </button>
        </template>
    </footer>
</app-container>