<div class="fastStore-continer">
        <div class="fastStore-content">
            <div v-if="fastDeliveryInfo.ifHasInfo">
                <div class="warehous-img">
                    <img src="/static/images/fastdelivery/warehouse.png" alt="">
                </div>
                <div class="fastStore-state">当前快速仓状态: <span  :class="{'text-color-waring': !fastDeliveryInfo.state ,'text-color-nomal': fastDeliveryInfo.state}">{{fastDeliveryInfo.state?'开启':'关闭'}}</span></div>
            </div>
            <div v-else-if="isShowPEITU">
                <div class="big-img">
                    <img src="http://wybc-vue.oss-cn-hangzhou.aliyuncs.com/static/user/PEITU.jpg" alt="">
                </div>
                <div class="fastStore-state ">当前快速仓状态: <span  class="text-color-waring">关闭</span></div>
            </div>
        </div>
        <div v-if="fastDeliveryInfo.ifHasInfo" class="faststore-footer custom-footer" :class="{'color-waring': fastDeliveryInfo.state ,'color-nomal': !fastDeliveryInfo.state}" @click="changeState">{{fastDeliveryInfo.state?'关闭':'开启'}}</div>
        <div v-else class="faststore-footer color-nomal custom-footer" @click="goEdit">点击开启</div>
    <router-link to="/info?infoName=quickInfo" ><u class="faststore-desc">快速仓说明</u></router-link>
</div>