.flex-align-t {
    align-items: flex-start;
}

.flex-align-b {
    align-items: flex-end;
}

.flex-align-m {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}