// 底部信息
.ft {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3000;
    button {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 19px;
        height: 50px;
    }
}

button {
    border: none;
    outline: none;
}

figure {
    img {
        width: 100%;
    }
}

