@import './nowifi.scss';
@import './weui.plugins.scss';
@import './scoller.plugins.scss';
@import './animation.scss';
@import './footer.scss';
@import './iconfont.scss';
@import './flex.scss';

.before {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    height: 3px;
    width: 17px;
    top: 11px;
    left: 4px;
}

.after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    height: 17px;
    width: 3px;
    top: 4px;
    left: 11px;
}

.min-before {
    height: 2px;
    width: 14px;
    top: 10px;
    left: 5px;
}

.min-after {
    height: 14px;
    width: 2px;
    top: 5px;
    left: 11px;
}

.arrow-after {
    content: '';
    height: 12px;
    width: 12px;
    display: block;
    border: 5px solid #bbb;
    border-left-width: 0;
    border-top-width: 0;
    position: absolute;
    top: 10px;
    right: 7px;
    transform: rotate(-45deg);
}

.wybc-icon {
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    top: 6px;
    &.wybc-icon-plus {
        background-color: #7ecc44;
        &:before {
            @extend .before;
        }
        &:after {
            @extend .after;
        }
    }
    &.wybc-icon-arrow {
        &-top {
            &:after {
                @extend .arrow-after;
                border-width: 1px 1px 0 0;
            }
        }
        &-bottom {
            &:after {
                @extend .arrow-after;
                border-width: 0 0 1px 1px;
                top: 3px;
                right: 6px;
            }
        }
        &-left {
            &:after {
                @extend .arrow-after;
                border-width: 1px 0 0 1px;
                top: 7px;
                right: 4px;
            }
        }
        &-right {
            &:after {
                @extend .arrow-after;
                border-width: 0 1px 1px 0;
                top: 6px;
                right: 10px;
            }
        }
    }
    &-areas {
        &:before {
            @extend .before;
            height: 12px;
            width: 12px;
            border: 2px solid #bbb;
            top: 2px;
            left: 3px;
            z-index: 1;
            line-height: 26px;
            border-radius: 40px;
            text-align: center;
        }
        &:after {
            @extend .after;
            height: 0px;
            width: 0px;
            bottom: 2px;
            left: 1px;
            border: 10px transparent solid;
            border-top-color: #bbb;
            border-width: 20px 10px 0px 10px;
            top: 8px;
        }
    }
    &-close {
        &:before {
            @extend .before;
            height: 2px;
            width: 20px;
            display: block;
            background: #bbb;
            top: 12px;
            left: 1px;
            transform: rotate(-45deg);
        }
        &:after {
            @extend .after;
            content: '';
            height: 2px;
            width: 20px;
            display: block;
            background: #bbb;
            position: absolute;
            top: 12px;
            left: 1px;
            transform: rotate(45deg);
        }
    }
}

.wybc-icon-min {
    @extend .wybc-icon;
    width: 23px;
    height: 23px;
    &.wybc-icon-plus {
        &:before {
            @extend .min-before;
        }
        &:after {
            @extend .min-after;
        }
    }
}

.weui-icon-success {
    color: #7ecc44;
}

.weui-icon-cancel {
    color: #b7b7b7;
}

.weui-btn_primary {
    background-color: #7ecc44;
}
