.scroller-pages {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
    width: 68px;
    height: 18px;
    line-height: 18px;
    border-radius: 10px;
    opacity: 0.7;
}