<div class="myTeam">
    <div class="weui-cells">
        <div class="weui-cell cell__bg">
            <div class="weui-cell__bd">
                <img src="../../static/images/minishop/sj.png">
                <span>邀请人</span>
            </div>
            <div class="weui-cell__ft">{{ teamData.inviteWdInfo.userName }}</div>
        </div>
    </div>
    <div class="weui-cells">
        <div class="weui-cell cell__bg">
            <div class="weui-cell__bd">
                <img src="../../static/images/minishop/sjia.png">
                <span>供货人</span>
            </div>
            <div class="weui-cell__ft" v-if="teamData.flag == 0">{{ teamData.upperWdInfo }}</div>
        </div>
        <template v-if="teamData.flag == 1">
            <div class="weui-cell">
                <div class="weui-cell__bd">昵称</div>
                <div class="weui-cell__ft">{{ teamData.upperWdInfo.userName }}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">手机号</div>
                <div class="weui-cell__ft">{{ teamData.upperWdInfo.phone }}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">微店校区</div>
                <div class="weui-cell__ft">{{ teamData.upperWdInfo.school }}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">店名</div>
                <div class="weui-cell__ft">{{ teamData.upperWdInfo.wdName }}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">店长等级</div>
                <div class="weui-cell__ft">M{{ teamData.upperWdInfo.wdVipGrade + ' ' + teamData.upperGradeName }}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">实名认证</div>
                <div class="weui-cell__ft">{{ teamData.realName }}</div>
            </div>
        </template>
    </div>
    <div class="weui-cells">
        <div class="weui-cell cell__bg">
            <div class="weui-cell__bd">
                <img src="../../static/images/minishop/group.png">
                <span>我的团队 ({{ teamNum }})</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_access cell__bg" @click="toTeamList(item.wdVipGrade)" v-for="item in teamData.teamList">
            <div class="weui-cell__bd">M{{ item.wdVipGrade }} {{ item.name }} (<b>{{ item.count }}</b>)</div>
            <div class="weui-cell__ft"></div>
        </div>
    </div>
</div>