<!-- 标注为999的是固定参数 -->
<div class="order-detail">
    <!-- :style="margin-bottom:.5rem;" -->
    <pull-refresh :infinite="infinite" :refresh="refresh">
        <!-- 顶部的状态 -->
        <div class="order-title">
            <figure>
                <img :src="'/static/images/' + (orderInfo.orderState==6?'ddguanbi.png':'shop.png')">
            </figure>
            <div>
                <h5 class="show-status" v-text="getOrderStateName()"></h5>
                <p id="finalTime" v-if="orderInfo.orderState == 1">
                    请于
                    <span v-text="formatDate"></span>内付款，超时订单将自动关闭
                </p>
                <p id="finalTime" v-if="orderInfo.orderState == 4&&orderInfo.ownStore">
                    此订单将于
                    <span>{{orderInfo.leftDay}}</span>天后自动确认收货
                </p>
            </div>
        </div>

        <!-- 订单状态流程 -->
        <div class="order-show" v-if="orderInfo.orderState!=6&&!orderInfo.ownStore">
            <span>买家{{ orderInfo.orderState>1?'已':'' }}付款</span>
            <!--卖家付款-->
            <!-- <span>商家{{ orderInfo.orderState>3?'已':'' }}发货</span> -->
            <!--商家发货-->
            <span>交易完成</span>
            <p :class="{'e6e6e6':orderInfo.orderState >= 1&&orderInfo.orderState<5}">
                <b :class="{'iconfont icon-chenggong':orderInfo.orderState >= 2&&orderInfo.orderState<5}"></b>
                <!-- <i>{'iconfont icon-chenggong':(orderInfo.orderState==1)}</i>
                <b :class="{'weui-icon-success':(orderInfo.orderState===4)}"></b> -->
                <i></i>
                <b :class="{'iconfont icon-chenggong':orderInfo.orderState==5}"></b>
            </p>
        </div>
        <!-- 订单状态流程 -->
        <div class="order-show1" v-if="orderInfo.orderState!=6&&orderInfo.ownStore">
            <span>买家{{ orderInfo.orderState>1?'已':'' }}付款</span>
            <!--卖家付款-->
            <span>商家{{ orderInfo.orderState>3?'已':'' }}发货</span>
            <!--商家发货-->
            <span>交易完成</span>
            <p :class="{'e6e6e6':orderInfo.orderState == 1}">
                <b :class="{'iconfont icon-chenggong':orderInfo.orderState==2||orderInfo.orderState==3}"></b>
                <i></i>
                <b :class="{'iconfont icon-chenggong':(orderInfo.orderState==4)}"></b>
                <i></i>
                <b :class="{'iconfont icon-chenggong':orderInfo.orderState==5}"></b>
            </p>
        </div>
        <!-- 收货地址 -->
        <div class="order-address" v-if="orderInfo.ownStore">
            <p>
                <i class="iconfont icon-dizhi"></i>
                <b>收货人：{{ orderInfo.name }}</b>
                <span v-text="orderInfo.phone"></span>
            </p>
            <p class="shouhuo" v-text="'收货地址：' + orderInfo._address"></p>
        </div>

        <!-- 单/多sku订单 -->
        <template v-for="(item,index) in orderInfo.goods">
            <!-- 订单编号 -->
            <div class="order-number" v-if="showOrderNumber&&orderInfo.ownStore">
                <template v-if="orderInfo.logis&&orderInfo.logis[index].logisNo">
                    <p>
                        <i class="iconfont icon-truck"></i> 运单编号：
                        <b class="logisNo" v-text="orderInfo.logis[index].logisNo"></b>
                    </p>
                    <p class='delivery-company' v-text="orderInfo.logis[index].logisName"></p>
                </template>
                <template v-else>
                    <i class="iconfont icon-truck"></i>
                    <p class="noMessage">暂无物流信息</p>
                </template>
            </div>
            <!-- 商品信息前的图标 -->
            <div class="order-line" v-if="index==0">
                <p class="sm">
                    <!-- 多sku只有第一个商品有 -->
                    <i class="iconfont icon-shop"></i>
                    <span>{{orderInfo.shopName}}</span>
                </p>
            </div>
            <div class="order-line" v-if="index!=0" style="height:0.03rem;"></div>
            <!-- 订单商品的信息 -->
            <div class="order-goods" @click="toGoodsDetail(item.goodsId,orderInfo.shopId)">
                <figure>
                    <img :src="item.coverImg">
                </figure>
                <div class="order-goods-left">
                    <span class="title">{{ item.goodsName}}</span>
                    <!-- 券抵扣 -->
                    <!-- <span class="gb-red" v-if=" orderInfo.consuType == 3">{{ item.moneyRoll | localVolume }}券+{{ item.moneyPrice | localMoney }}</span> -->
                </div>
                <div class="order-goods-right">
                    <!-- RMB+ -->
                    <span class="color-red" v-if="orderInfo.consuType != 1">{{ item.moneyPrice | localMoney }}</span>
                    <!-- 积分 -->
                    <!-- <span class="color-red" v-else>{{ item.scorePrie }}积分</span> -->
                    <span class="numb">x{{ item.number }}</span>
                    <!-- 是否能退款 -->
                    <!-- item.refundStatus: 申请退款 退款申请中 退款关闭 退款失败 -->
                    <!-- <span class="btn" v-if="showRefund">
                    <button class="mui-btn" id="tuikuan" @click="refund(item.id)" v-text="getRefundStatus(item.refundStatus)"></button>
                </span> -->
                </div>
            </div>
        </template>


        <!-- 进货价小计-->
        <div class="order-line">
            <span class="fleft">进货价小计</span>
            <!-- RMB+ -->
            <span>{{ xprice | localMoney }}</span>
        </div>
        <template>
            <!-- 运费-->
            <div class="order-line" v-if="shipFeeShow">
                <span class="fleft">配送费</span>
                <span class="color-yellow">{{shipFee | localMoney}}</span>
            </div>
            <!-- 合计 RMB+ -->
            <div class="order-line">
                <span class="fleft">合计</span>
                <span>{{ totalPrice | localMoney }}</span>
            </div>
            <!-- 底部计价 RMB+ -->
            <div class="order-line order-line-last">
                <span class="fcenter">
                    {{ showTypeAndRefund?'需付':'实付'}}
                    <p class="color-red">{{totalPrice | localMoney }}</p>
                </span>
            </div>
        </template>

        <!--订单信息 -->
        <div class="order-info">
            <p>订单编号：{{ orderInfo.orderNo }}</p>
            <p>创建时间：{{ orderInfo.createAt | date('yyyy-MM-dd hh:mm:ss')}}</p>
            <p>进货仓储方式：{{stocktype}}</p>
            <!-- 买家留言 虚物 -->
            <!-- <div class="xunigoods" v-if="orderInfo.gsType === 2 && JSON.stringify(orderLeaveMsg) != '{}'">
                <p>买家留言</p>
                <p class="user_msg">
                    <template v-for="(msg,i) in orderLeaveMsg">
                        {{ i + ': ' + msg }}
                        <br>
                    </template>
                </p>
            </div>-->
        </div>
        <!-- 底部补 -->
        <!-- <div class="bot" v-if="showToast"></div> -->
    </pull-refresh>


    <!-- 底部弹出框 -->
    <div class="confirm-receipt" v-if="showToast">
        <template v-if="orderInfo.orderState==1">
            <div class="box-price">
                合计：
                <p class="color-red">{{ totalPrice | localMoney }}&nbsp;</p>
            </div>
            <div class="btn btn-red btn-sm" @click="goPay()">去支付</div>
        </template>
        <!-- <div class="btn btn-orange" v-if="showDelWithRefund" @click="delOrder()">删除并退款</div>-->
        <div class="btn btn-green" v-if="orderInfo.orderState==4&&orderInfo.ownStore" @click="confirmReceipt()">确认收货</div> 
    </div>
</div>