<div class="coupon">
    <div class="weui-flex flex-head">
        <div class="weui-flex__item" v-for="(v,i) in headNav" :class="{'active':i==headIndex}" @click="changeHeadNav(i)">{{v.name}}
            <span v-if="v.number">({{v.number}})</span>
        </div>
    </div>
    <div class="coupon-content" v-for="(item,i) in headNav" v-if="i==headIndex">
        <pull-refresh :refresh="refresh" :infinite="infinite">
            <div class="coupon-list">
                <div class="coupon-item-roll" v-for="(v,i) in couponList">
                    <div class="weui-flex flex-c">
                        <div class="weui-flex-right">
                            <span :class="{'color-ccc':headIndex==1}">{{v.couponName}}</span>
                            <p v-if="v.minOrderPrice" :class="{'color-ccc':headIndex==1}">满{{(v.minOrderPrice/100).toFixed(2)}}减{{(v.moneyPrice/100).toFixed(2)}}</p>
                            <p v-else :class="{'color-ccc':headIndex==1}">无门槛限制</p>
                        </div>
                        <div class="weui-flex-left">
                            <p :class="{'color-ccc':headIndex==1}">{{v.moneyPrice | localMoney}}</p>
                            <div class="nowuse weui-icon-circle" @click="chooseCoupon(v,i)" v-if="headIndex==0">
                                <i class="weui-icon-success" v-show="id == v.userCouponId"></i>
                            </div>
                            <div class="color-red" v-else>差{{(v.leftPrice/100).toFixed(2)}}可用</div>
                        </div>
                    </div>
                    <div class="time">
                        <p v-if="v.expiryDate" :class="{'color-ccc':headIndex==1}">有效期：至{{v.expiryDate}}</p>
                        <p v-else :class="{'color-ccc':headIndex==1}">有效期：{{v.validTimeDay}}天内有效</p>
                        <span v-if="v.goodsLimit==1" :class="{'color-ccc':headIndex==1}">仅限部分商品</span>
                        <span class="currency" v-else :class="{'color-ccc':headIndex==1}">所有商品通用</span>
                    </div>
                    <div class="roll">
                        <img src="/static/images/daysign/shangpin-biaozhi.png">
                    </div>
                </div>
            </div>
        </pull-refresh>
    </div>
    <!-- :class="{'bgccc':confirmCC}" -->
    <div class="fixedBottom" @click="goOrderSubmit">确定</div>
</div>