.indexBox {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        // position: fixed;
        // top: 0;
        // width: 100%;
        // z-index: 500;
        overflow: hidden;
        background: #ffffff;
    }

    .home-content {
        position: relative; // height: 5.68rem;
        flex: 1; // margin-top: 0.95rem;
        text-align: center;
    }
    .indexBox_logo {
        height: 0.86rem;
        padding: 0.13rem 0;
        border-bottom: 0.08rem solid #f2f2f2;
        display: flex;
        justify-content: space-around;
        .wdName {
            width: 80%;
            height: 100%;
            flex: 1;
            padding-left: 0.1rem;
            display: flex;
            align-items: center;
            dt {
                height: 0.5rem;
                width: 0.5rem;
                overflow: hidden;
                border-radius: 0.05rem;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            dd {
                height: 100%;
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-left: 0.1rem;
                line-height: 1;
                overflow: hidden;
                h4{
                    font-size: 0.16rem;
                    max-height: .16rem;
                    font-weight: normal;
                }
                > span {
                    font-size: 0.12rem;
                    max-height: .12rem;
                    margin: 5px 0;
                }
                h4,
                >span {
                    color: #333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: block;
                    width: 100%;
                }
                p {
                    height: 0.14rem;
                    width: 0.7rem;
                    background: url("/static/images/newshop/vip.png") center center;
                    background-size: 100% 100%; // line-height: 0.14rem;
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                        margin-left: 0.3rem;
                        font-size: 0.12rem;
                        color: #fff;
                    }
                }
            }
        }
        .serBox {
            height: 0.5rem;
            width: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sercher {
            font-size: 0.2rem!important;
            color: #808080;
        }
    }
    .carousel {
        // height: 1.43rem;
        width: 100%;
        height: 1.7rem
        // img {
        //     height: 100%;
        //     width: 100%;
        // }
    }
    .active_carousel {
        height: 1.4rem;
        background: #f2f2f2;
        padding-top: 0.06rem;
        padding-bottom: 0.12rem;
    }
    .shopList {
        background: #f2f2f2;
        overflow: hidden;
        .explosionShop {
            height: 1.43rem;
            margin: 0.06rem 0;
            margin-top: 0.04rem;
            .explosionShop_lef {
                height: 1.43rem;
                width: 1.86rem;
                float: left;
                background: #ffffff;
                margin-right: 0.03rem;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .explosionShop_rig {
                width: 1.86rem;
                height: 1.43rem;
                float: left;
                .rig_t {
                    height: 0.7rem;
                    width: 1.86rem;
                    background: #ffffff;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                    &:nth-of-type(1) {
                        margin-bottom: 0.03rem;
                    }
                }
            }
        }
    }
    .goodsList {
        li {
            overflow: hidden;
            .li_top {
                height: 0.4rem;
                padding: 0 0.1rem;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .img {
                    margin-top: 0.04rem;
                    height: 0.14rem;
                    width: 0.6rem;
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        border: none;
                    }
                }
                span {
                    width: 0.82rem;
                    font-size: 0.14rem;
                    color: #b3b3b3;
                    display: block;
                }
            }
            .goodsList_carousel {
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .shopPic {
                border-top: 0.02rem solid #f2f2f2;
                overflow: hidden;
                margin-bottom: 0.04rem;
                background: #ffffff;
                .shopPic_gs {
                    float: left;
                    width: 1.865rem;
                    height: 2.4rem;
                    &:nth-of-type(even) {
                        float: right;
                        width: 1.885rem;
                        border-left: 0.02rem solid #f2f2f2;
                    }
                    a {
                        display: block;
                        height: 100%;
                    }
                    dt {
                        height: 1.72rem;
                        width: 1.865rem;
                        position: relative;
                        .progressive-image {
                            height: 100%;
                        }
                        span:nth-of-type(1) {
                            position: absolute;
                            display: block;
                            font-size: 0.12rem;
                            width: 0.35rem;
                            line-height: 0.16rem;
                            height: 0.16rem;
                            text-align: center;
                            color: #ffffff;
                            background: #ff1c1c;
                            top: 0;
                            left: 0;
                        }
                        span:nth-of-type(2) {
                            position: absolute;
                            display: block;
                            height: 0.16rem;
                            font-size: 0.12rem;
                            background: #ff1c1c;
                            color: #ffffff;
                            padding: 0 0.05rem;
                            top: 0;
                            right: 0;
                            line-height: 0.16rem;
                            border-radius: 0.06rem;
                        }
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    dd {
                        padding-left: 0.13rem;
                        margin: 0;
                        text-align: left;
                        &:nth-of-type(1) {
                            margin-top: 0.04rem;
                            width: 1.75rem;
                            line-height: 0.16rem;
                            font-size: 0.15rem;
                            color: #333333;
                            font-weight: 600;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        &:nth-of-type(2) {
                            width: 1.75rem;
                            height: 0.16rem;
                            line-height: 0.16rem;
                            margin-top: 0.04rem;
                            span {
                                display: block;
                                color: #808080;
                                font-size: 0.12rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        &:nth-of-type(3) {
                            margin-top: 0.04rem;
                            height: 0.2rem;
                            line-height: 0.2rem;
                            color: #ff1c1c;
                            span {
                                font-size: 0.16rem;
                            }
                        }
                    }
                }
            }
        }
    }
}