.wallet{
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .cmsHeader{
        width: 100%;
        height: 182.5px;
        padding-top: 28.5px;
        position: relative;
        background: #fff;
        flex-direction: column;
        .cmsLevel{
            width: auto;
            padding: 13px;
            text-align: center;
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            figure{
                width: .175rem;
                height: .145rem;
                margin: 0 auto;
                img{
                    display: block;
                }
            }
            h4{
                font-size: .15rem;
                line-height: 1;
                margin: .03rem 0 .05rem;
                color: #f99939;
                background-image: -webkit-linear-gradient(top, #f8bc27, #f99939);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            span{
                font-size: .12rem;
                color: #808080;
                line-height: 1;
                text-decoration: underline;
            }
        }
        .cmsUser{
            text-align: center;
            font-size: 0;
            line-height: 1;
            figure{
                width: .665rem;
                height: .665rem;
                margin: 0 auto;
                border-radius: 50%;
                overflow: hidden;
            }
            h4{
                margin-top: 14px;
                font-size: 14.5px;
                color: #333;
            }
            span{
                margin-top: 5px;
                font-size: 24.5px;
                color: #ff1c1c;
            }
        }
        .cmsInfo{
            position: absolute;
            right: 12px;
            bottom: 30px;
            color: #7ecc44;
            font-size: 14px;
        }
    }
    .weui-cells{
        margin-top: 5px;
        .weui-cell{
            background: #fff;
            font-size: 14px;
            &:before{
                left: 0;
            }
            .fgf23a13{
                color: #f23a13;
            }
            .fg7ecc44{
                color: #7ecc44;
            }
            .weui-cell__hd{
                color: #333;
                .iconfont.icon-remind{
                    line-height: 1;
                    &:before{
                        color: #f23a13;
                    }
                }
            }
            p{
                font-size: 12px;
                color: #808080;
                line-height: 21px;
                word-break: break-all;
            }
            &.walletTextArea{
                transition-duration: 300ms;
                transition-timing-function: ease-out;
                height: 0;
                padding: 0 0.15rem;
                .weui-cell__bd{
                    padding: 0.1rem 0;
                }
            }
        }
        &.cells-wallet{
            .weui-cell{
                padding: 15px;
            }
        }
    }
    .wallerSubmit{
        width: 100%;
        height: 49px;
        margin-top: 50px;
        border-radius: 0;
        font-size: 19px;
        // position: absolute;
        bottom: 0;
    }
    .c-address-picker{
        border-top: 1px solid #c9ccd5;
    }
    .wallet-bd{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .flex-1{
        flex: 1;
        width:100%;
        //height:1.52rem;
    }
}