.password-set-content{
    .password-set-title{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
    .password-set-input{
        margin: 0.4rem 0 0 0;
    }

    .password-error{
        margin-top: .2rem;
        text-align: center;
        color:#fb0c0c;
    }
    
}