.notfound-page {
    //border-style: dashed;
    border-color: #e4e4e4;
    line-height: 30px;
    width: 100%;
    padding: 20px 20px 40px 20px;
    // margin-top: 80px;
    div {
        margin-left: auto;
        margin-right: auto;
    }
    .font-h1 {
        font-size: 30px;
        color: #0188DE;
        padding: 20px 0px 10px 0px;
    }
    .font-h2 {
        font-size: 16px;
        color: #0188DE;
        padding: 10px 0px 40px 0px;
    }
    .font {
        font-size: 14px;
        color: #b3b3b3;
        opacity: .7;
    }
    .button {
        width: 180px;
        height: 28px;
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
        button {
            width: 100%;
            height: 100%;
            background: #009CFF;
            border: none;
            border-bottom: 4px solid #0188DE;
            font-size: 14px;
            color: #fff;
        }
    }
}