<div class="shoppingCart">
    <div class="edit" v-show="!isEmpty">
        <i class="iconfont icon-gouwuche"></i>
        <span @click="editShopCar">{{edit}}</span>
    </div>
    <div class="home-content">
        <pull-refresh :refresh="refresh" ref="my_scroller" :infinite="infinite">
            <!-- 购物车为空 -->
            <div class="shopCartEmpty" v-if="isEmpty">
                <img src="/static/images/newshop/gouwuche.png" alt="" />
                <h3>购物车快饿瘪了T.T</h3>
                <h4>快给我挑点宝贝</h4>
                <router-link to="/cms_purchase_classify">
                    <p>去逛逛</p>
                </router-link>
            </div>
            <div class="wxShop" v-show="!isEmpty">
                <div class="shopName">
                    <i class="icon iconfont icon-shop"></i>
                    <!-- <span>{{wdName}}</span> -->
                    <span>学惠精选官方商城</span>
                </div>
                <div class="arrow size-16" @click="goCouponList">进货券
                    <i class="iconfont icon-xiangyoujiantou"></i>
                </div>
            </div>
            <!-- 购物车列表区域 -->
            <ul class="shoppingCart_list" v-show="!isEmpty">
                <!-- 购物车列表 -->
                <li v-for="(item, index) in validLists" v-if="isEdit">

                    <div class="checkbx weui-icon-circle" @click="onRadio($event,index)">
                        <i class="weui-icon-success" v-show="item.check"></i>
                    </div>
                    <router-link :to="{ path: '/cms_purchase_goods_detail',query: { goodsId:item.goodsId }}">
                        <div class="pic_img">
                            <img :src="item.coverImg" alt="">
                        </div>
                    </router-link>
                    <div class="goodName">
                        <p class="goodName_name">{{item.goodsName}}</p>
                        <div class="goodName_pir">
                            <!-- <p v-if="item.consuType==3">{{item.moneyPrice | localMoney}}+{{item.moneyRoll | localVolume}}券</p> -->
                            <p>{{item.moneyPrice | localMoney}}
                                <span>x{{item.number}}</span>
                            </p>
                            <p v-if="item.number<=item.maxBuyNum">
                                <img src="/static/images/newshop/gou.png" alt="">
                                <span>仓库库存:
                                    <b>{{item.maxBuyNum}}</b>
                                </span>
                            </p>
                            <p v-else>
                                <img src="/static/images/newshop/cha.png" alt="">
                                <span>仓库库存:
                                    <b>{{item.maxBuyNum}}</b>
                                </span>
                            </p>
                        </div>
                        <!-- <div class="purchase" v-if="item.consuType==3">
                            <span class="purchase_y">原价:{{item.purchasePrice | localMoney}}</span>
                            <span class="purchase_num">x{{item.number}}</span>
                        </div> -->
                    </div>
                </li>
                <!-- 物车编辑状态 -->
                <li v-for="(item,index) in validLists" v-if="!isEdit">

                    <div class="checkbx weui-icon-circle" @click="onRadio($event,index)">
                        <i class="weui-icon-success" v-show="item.check"></i>
                    </div>
                    <router-link :to="{ path: '/cms_purchase_goods_detail',query: { goodsId: item.goodsId }}">
                        <div class="pic_img">
                            <img :src="item.coverImg" alt="">
                        </div>
                    </router-link>
                    <div class="goodName">
                        <p class="goodName_name">{{item.goodsName}}</p>
                        <div class="goodName_pir">
                            <!-- <p v-if="item.consuType==3">{{item.moneyPrice | localMoney}}+{{item.moneyRoll | localVolume}}券</p> -->
                            <p>{{item.moneyPrice | localMoney}}
                            </p>
                            <p v-if="item.number<=item.maxBuyNum">
                                <img src="/static/images/newshop/gou.png" alt="">
                                <span>仓库库存:
                                    <b>{{item.maxBuyNum}}</b>
                                </span>
                            </p>
                            <p v-else>
                                <img src="/static/images/newshop/cha.png" alt="">
                                <span>仓库库存:
                                    <b>{{item.maxBuyNum}}</b>
                                </span>
                            </p>
                        </div>
                        <div class="purchase" v-if="item.consuType==3">
                            <span class="purchase_y">原价:{{item.purchasePrice | localMoney}}</span>
                            <span class="purchase_num"></span>
                        </div>
                        <div class="goodName_num">
                            <span id="minus" @click="minus(index)">-</span>
                            <input type="number" class="amount" v-model='item.number' @blur="changeNum($event,index)" />
                            <span id="add" @click="add(index)">+</span>
                        </div>
                    </div>

                </li>
            </ul>
            <!-- 失效物品区域 -->
            <ul class="invalid" v-show="isShow">
                <div class="titl">
                    <img src="/static/images/newshop/bukaixin.png" />
                    <span>以下商品无法购买</span>
                </div>
                <li v-for="(item,index) in invalidLists">
                    <div class="pic_img">
                        <img :src="item.coverImg" alt="">
                    </div>
                    <div class="goodName">
                        <p class="goodName_name">{{item.goodsName}}
                        </p>
                        <div class="goodName_price">
                            <div class="goodName_pir">
                                <b v-if="item.consuType==2">{{item.moneyPrice | localMoney}}</b>
                                <b v-if="item.consuType==3">{{item.moneyPrice | localMoney}}+{{item.moneyRoll | localVolume}}券</b>
                                <span v-if="item.consuType==3">原价:{{item.purchasePrice | localMoney}}</span>
                                <span v-if="item.consuType==2" style="margin-bottom:0.13rem;"></span>
                                <span>{{ (item.isCampusGoodsValid ==0||item.isSourceGoodsValid==0)?'商品已下架或停售':'' }}</span>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="delete" @click="onClear">
                    <p>清空失效物品</p>
                </div>
            </ul>
            <!-- 为你推荐图标 -->
            <div class="recommend">
                <img src="/static/images/newshop/weinituijian.png" alt="">
            </div>
            <!-- 推荐商品列表 -->
            <ul class="goodsList">
                <li>
                    <div class="norecommendgoods" v-if="recommendShow">
                        <img src="/static/images/newshop/yihan.png" alt="">
                        <span>很遗憾，暂无推荐商品给您</span>
                    </div>
                    <div class="shopPic" v-else>
                        <dl class="shopPic_gs" v-for="(item,index) in recommendLists">
                                <dt @click="toDetail(item.goodsId)">
                                    <img :src="item.coverImg" alt="">
                                    <span v-show="item.couponCount"><img src="/static/images/daysign/shangpin-biaozhi.png"></span>
                                </dt>
                                <dd @click="toDetail(item.goodsId)">{{item.goodsName}}</dd>
                                <dd @click="toDetail(item.goodsId)">
                                    <span>{{item.coverImgDescription}}</span>
                                    <!-- <span {{itemdata.coverImgDescription}}v-if="itemdata.consuType==3">{{itemdata.moneyPrice | localMoney}}+{{itemdata.moneyRoll | localVolume}}券</span> -->
                                </dd>
                                <dd>
                                    <span>{{item.stockPrice | localMoney}}</span>
                                    <span @click="QuicklyJoinTheShoppingCart(item)">
                                        <i class="iconfont icon-gouwuche"></i>
                                    </span>
                                </dd>
                        </dl>
                        <!-- <dl class="shopPic_gs" v-if="recommendLists&&recommendLists.length%2!=0" style="border:0"></dl> -->
                    </div>

                </li>
            </ul>
        </pull-refresh>
    </div>

    <!--遮罩 stockTypeShow-->
    <!-- <div class="order-cover" v-show="stockTypeShow">
        <div class="order-cover-box"></div>
        <div class="order-cover-content">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title title-h4 close">请选择进货仓储方式<i class="iconfont icon-iconfontclose close1" @click="onClose"></i></h4>
            </div>
            <div class="weui-box" v-for="(v,i) in stockTypes" @click="chooseStockTpe(i)">

                <div class="radus">
                    <div class="radus-bg" v-show="v.stocktypeShow"></div>
                </div>
                <div class=" color-b">
                    {{v.stocktype}}
                </div>
            </div>
            </div>
        </div> -->
        <!-- 购物车结算 -->
        <div class="total" v-if="isEdit" v-show="!isEmpty">
            <div class="total_left">
                <p class="txt1">

                    <em class="checkAllState weui-icon-circle" @click="checkAllState">
                        <i class="weui-icon-success" v-show="checkAll"></i>
                    </em>
                    <b @click="checkAllState">全选</b>
                    <span>合计:
                        <b>{{total | localMoney}}</b>
                    </span>
                </p>
                <p class="txt2">
                    <span v-if="leastMoney>0&&total<leastMoney">{{ isFirst?'首次':'' }}最低进货金额：{{ leastMoney | localMoney }}</span>
                </p>
            </div>
            <div class="total_right" @click="onSettle" v-if="leastMoney<=total">
                结算({{settlement}})</div>


            <div class="total_right" style="background-color:#ccc;" v-else>
                结算({{settlement}})
            </div>
        </div>
        <div class="total" v-if="!isEdit" v-show="!isEmpty">
            <div class="total_left">
                <p class="txt1">
                    <em class="checkAllState weui-icon-circle" @click="checkAllState">
                        <i class="weui-icon-success" v-show="checkAll"></i>
                    </em>
                    <b @click="checkAllState">全选</b>
                </p>
            </div>
            <div class="total_right" @click="onDelete">
                删除
            </div>
        </div>

    </div>