<!-- 一行两个的商品列表组件 -->
<div class="goodsList">
    <div class="goodsItem" v-for="goodsItem in goodsList.data">
        <figure @click="toDetail(goodsItem.goodsId)">
            <img :src="goodsItem.coverImg" alt="">
        </figure>
        <span class="txt_title" @click="toDetail(goodsItem.goodsId)">{{ goodsItem.goodsName }}</span>
        <span class="txt_desc">{{ goodsItem.coverImgDescription }}</span>
        <span class="txt_price">{{ goodsItem.purchasePrice | localMoney }}</span>
    </div>
    <div class="goodsItem" v-if="goodsList.data.length%2"></div>
</div>