.home{
    color: #ffd480;
      background: #ffffff;
}
.order{
    color: #6d9dff;
}
.home,
.order{
    display: inline-block;
    padding: 0 .1rem;
    i{
        display: block;
        &::before{
            margin-left: 0;
            font-size: .23rem;
        }
    }
    span{
        margin-top: -.05rem;
        display: block;
        font-size: .115rem;
    }
}