.coupon-list {
    overflow: hidden;
    height: 100%;
    .flex-head {
        height: 48px;
        background-color: #fff;
        border-bottom: 1px solid #f2f2f2;
        text-align: center;
        line-height: 48px;
        color: #333;
        font-size: 17px;
        .active {
            color: #7dcc43;
        }
    }
    .flex-nav {
        height: 48px;
        background-color: #fff;
        line-height: 48px;
        text-align: center;
        font-size: 15px;
        color: #333;
    }
    .nav-active {
        position: relative;
        &::before {
            content: "";
            height: 2px;
            width: 60%;
            background-color: #7dcc43;
            position: absolute;
            bottom: -1px;
            left: 20%;
            ;
        }
    }
}