<div class="navScrollc">
    <div class="swiper-container" ref="bannerSwiper">
      <div class="swiper-wrapper">
            <!-- <div class="swiper-slide">
                <router-link to="/">
                    <div>
                        <img src="/static/images/newshop/jingpintuijian1.png" alt="">
                        <b style="color:#333;">精品推荐</b>
                    </div>
                </router-link>
            </div> -->
            <div class="swiper-slide" v-for="(item,index) in classifyNav" :key="index">
                <div :class="{active:item.goodsClassifyId==currentClassifyId}" @click="switchTab(item.goodsClassifyId,index)">
                    <img :src="item.unselectedImgUrl" v-show="item.goodsClassifyId!=currentClassifyId" />
                    <img :src="item.selectedImgUrl" v-show="item.goodsClassifyId==currentClassifyId" />
                    <b :class="{active:item.goodsClassifyId==currentClassifyId}">{{item.classifyName}}</b>
                </div>
            </div>
        </div>
    </div>
</div>