
#navScrollc{
 height: 0.51rem;
 width: 100%;
 background: #fff;
 border-bottom: 0.01rem solid #f2f2f2;
.swiper-container {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
       // width: 85px!important;
        height: 100%;
      
        div{
            height: 0.5rem; 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
              img {
            width: 0.18rem;
            height: 0.18rem;
          }
            b{
                font-weight: normal;
                font-size: 0.15rem;
                display: block;
                height: 0.2rem;
                line-height: 0.22rem;
                color: #808080;
            }
        }
        .active{
            color: #7dcc43;
        }
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        background: #7c5e53;
    }
}
}