<div class="userinfo_cms" ref="userinfo">
    <section class="box user" ref="user">
        <div class="box_bd">
            <aside class="text-right">
            </aside>
            <article>
                <figure class="user-pic">
                    <img :src="user_img" @error="imgError()">
                </figure>
                <div>
                    <span v-if="userLogin" v-text=" getUserName (userInfo.name || userInfo.nickname || userInfo.loginName || '? ? ?') "></span>
                </div>
            </article>
        </div>
    </section>
    <div class="weui-flex">
        <div class="weui-flex__item" @click="toOrderList(order.index)" v-for="order in orderList">
            <figure :data-alert="order.num?order.num:''">
                <img :src="'../static/images/newshop/' + order.pic + '.png'">
            </figure>
            <p v-text="order.type"></p>
        </div>
    </div>
    <div class="weui-cells">
        <div class="weui-cell userinfo_pic">
            <div class="weui-cell__bd">
                <figure>
                    <img src="../static/images/minishop/yikaidian.png" alt="" @click="toHome">
                </figure>
            </div>
        </div>
    </div>
    <div class="weui-cells">
        <div class="weui-cell weui-cell_access" @click="toInventoryList()">
            <div class="weui-cell__bd">
                <p>我的库存</p>
            </div>
            <div class="weui-cell__ft"></div>
        </div>
        <div class="weui-cell weui-cell_access" @click="toUserAddress()">
            <div class="weui-cell__bd">
                <p>收货地址管理</p>
            </div>
            <div class="weui-cell__ft"></div>
        </div>
    </div>
</div>