<div id="mask" v-if="isShow">
    <div class="mask">
        <section>
            <div class="flex">
                <div class="flex_name">
                    <figure style=" height: 0.36rem;">
                        <img :src="goods.coverImg">
                    </figure>
                    <div class="price">
                        <span>{{goods.goodsName}}</span>
                        <p v-if="!priceShow">{{goods.moneyPrice | localMoney}}</p>
                        <p v-if="priceShow">{{total | localMoney}}</p>
                    </div>

                </div>
                <div id="close" @click="onClose"><i class="iconfont icon-iconfontclose"></i></div>
            </div>
            <div class="flex">
                <div class="flex_item">
                    <div class="store">
                        <p v-if="fastStockObj.deliveryType==0">仓库库存：<span>{{fastStockObj.amount}}</span></p>                      
                        <p v-else>快速仓库存：<span>{{fastStockObj.amount}}</span></p>
                        <!-- <p style="color:#ff1c1c;" v-if="fastStockObj.amount<num&&fastStockObj.buyType==1&&fastStockObj.amount>0&&fastStockObj.deliveryType==1">购买更多可以在普通配送中继续下单</p> -->
                    </div>
                    <div id="countControl">
                        <span v-if = "num==1||!num" style="background:#f2f2f2;color:#cccccc;">-</span>
                        <span @click="decrease()" v-else>-</span>
                        <input type="number" v-model="num" value="num" @keyup="onNum">
                        <span @click="increase()">+</span>
                    </div>
                </div>
            </div>
            <div id="next" v-if="fastStockObj.deliveryType==1&&fastStockObj.fastStoreState==2" style="background-color:#ccc;">快速仓未开启</div>
            <div id="next" v-else-if="fastStockObj.amount<num&&fastStockObj.buyType==1" style="background-color:#ccc;">库存不足</div>
            <div id="next" @click="nextStep()" v-else>下一步</div>
        </section>
    </div>
</div>