<div class="delivery-finish-detail">
    <pull-refresh  :refresh="refresh">
        <div>
            <header class="finish-detail_hd">
                <div class="detail-head_hd">
                    <div class="money">￥<span>{{data.money}}</span></div>
                    <div class="info">本单收入</div>
                </div>
                <div class="detail-head_bd">
                    用户确认收货，订单成功送达！
                </div>
                <div class="detail-head_ft">
                    <div class="steps-list weui-flex flex-align-b">
                        <div class="step-item" v-for="(item, index) in stepsOption.steps" :key="index">
                            <div class="weui-flex flex-align-m">
                                <i  :class="{'weui-icon-success': stepsOption.stepIndex == index, 'default': stepsOption.stepIndex < index, 'ok': stepsOption.stepIndex > index}"></i>
                                <div class="step-line" v-if="index < stepsOption.len " :class="{'default-bgc': stepsOption.stepIndex <= index, 'ok-bgc': stepsOption.stepIndex > index}"></div>
                            </div>
                            <label>{{item.label}}</label>
                        </div>
                    </div>
                    <div class="title text-danger" v-if="orderStatus == 'canceled'">该订单无法获得酬金.!~</div>
                </div>
            </header>
            <section class="finish-detail_bd">
                <div class="title detail-content-hd weui-flex flex-align-m">
                    <i class="icon iconfont icon-truck"></i> 订单配送
                </div>
                <div class="detail-content_bd">
                    <div class="weui-flex">
                        <img :src="takeImgSrc" class="take-img">
                        <div class="right">{{data.from}}</div>
                    </div>
                    <div class="weui-flex">
                        <div class="pending">
                            <img :src="pointImgSrc" class="point-img">
                        </div>
                        <div class="right fromAddress">{{data.fromAddress}}</div>
                    </div>
                    <div class="weui-flex">
                        <img :src="giveImgSrc" class="give-img">
                        <div class="right">
                            <p>{{data.to}}</p>
                            <p>{{data.toAddress}}</p>
                        </div>
                    </div>
                </div>
                <div class="detail-content_ft">
                    <div class="title order-title weui-flex flex-align-m">
                        <img :src="orderDetailImgSrc" alt=""> 订单详情
                    </div>
                    <div class="order-details">
                        <div class="goods-list">
                            <div class="goods-item weui-flex" v-for="(item, index) in goodsList" :key="index">
                                <div class="goods-item-hd weui-flex__item text-ellipsis">{{item.goodsName}}</div>
                                <div class="goods-item-bd weui-flex__item">x<span>{{item.number}}</span></div>
                                <div class="goods-item-ft text-right">{{item.price | localMoney}}</div>
                            </div>
                        </div>
                        <div class="goods-price-total weui-flex title">
                            <div class="weui-flex__item">总计：{{1655 | localMoney}}</div>
                            <div class="weui-flex__item text-right">实付：<span class="money">{{1655 | localMoney}}</span></div>
                        </div>
                    </div>
                
                </div>
            </section>
            <footer class="finish-detail_ft">
                <div class="title weui-flex flex-align-m">
                    <img :src="orderInfoImgSrc">
                    订单信息
                </div>
                <div class="title order-info weui-flex">
                    <span>订单号码：</span>
                    <span>1231231231231212312</span>
                </div>
            </footer>
        </div>
    </pull-refresh>
</div>