<div class="user-orders weui-flex flex-v">
	<div class="tab-header weui-flex-item">
		<!-- <div v-if="orderBanners.length>0" class="order-banner">
			<ob :dataList="orderBanners" :selectItem="selectItem"></ob>
		</div> -->
		<tab style="padding: 0 0.1rem" :tabs="tabItemList" @on-change="onChange" :index="index"></tab>
	</div>

	<div class="order-list-content">
		<div v-for="(tab,tindex) in tabItemList" v-show="tableIndex==tindex" class=" flex-1">
			<pull-refresh :refresh="refresh" :infinite="infinite">
				<div v-for="order in ordersList[tableIndex]" v-if="tableIndex==tindex">
					<oi :order="order" @removeItem="resetAllData"></oi>
				</div>
			</pull-refresh>
		</div>
	</div>
</div>