<div class="password-continer">
    <transition name="fade">
        <div class="tip-error text-center text-ellipsis" v-if="msg.show">{{msg.value}}</div>
    </transition>
    <div class="phone-title">请输入{{displayPhone}}收到的短信</div>
    <div class="password-cells">
         <div v-if="imgcode" class="weui-cell weui-cell_vcode" >
            <div class="weui-cell__hd">
                <label class="weui-label">图形码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入图形码" v-model="imgcode" :disabled="!imgcode" @input="inputImgCode()"
                    maxlength="4">
            </div>
            <div class="weui-cell__ft" @click="queryImgCode">
                <img class="weui-vcode-img" :src="imgsrc" v-if="imgsrc">
            </div>
        </div>
        <div v-else class="weui-cell" >
            <div class="weui-cell__hd">
                <label class="weui-label">验证码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="tel"  placeholder="请输入验证码" v-model="code" @input="inputCode()"
                    maxlength="6">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-btn weui-btn_plain-default weui-btn_mini btn-code" @click="queryCode()" :class="{'weui-btn_disabled': disbtn}"
                    :disabled="disbtn">{{btnMsg}}</button>
            </div>
        </div>
        <button class="weui-btn weui-btn_primary" type="button" @click="checkCode" :class="{'weui-btn_disabled': !sbtn}" :disabled="!sbtn">
            验证消息
        </button>
    </div>
</div>