.password-continer {
    .phone-title{
        padding: .15rem ;
        color:#808080;
    }
    .password-cells{
        background-color: #fff;
    }
    button {
        cursor: pointer;
        border: none;
        &:after {
            border: none;
        }
        &:before {
            border: none;
        }
    }
    .weui-btn_plain-default {
        background-color: #e0e0e0;
        &.weui-btn_disabled {
            color: #d7d7d7;
        }
    }
    .weui-btn_primary {
        background-color: #7dcc43;
        &.weui-btn_disabled {
            background-color: #b7df9a;
        }
    }
    .btn-code {
        color: #878787;
        background-color: #f2f2f2;
        &.weui-btn_disabled {
            color: #bbb;
        }
    }
    .weui-cell_vcode {
        align-items: center!important;
        height: 50px;
        .weui-cell__ft {
            margin-right: 15px;
            .weui-vcode-img {
                height: 30px;
                width: 75px;
            }
        }
    }
    .tip-error {
        background-color: #fefbee;
        color: #f09a58;
        position: relative;
        padding: 5px 0;
    }
}