.deliver-finish-list {
    .finish-list-content {
        position: relative;
        padding-bottom: 5px;
        &-hd {
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: -1px;
            z-index: 2;
            padding-left: 12px;
            padding-right: 12px;
            height: 36px;
            line-height: 36px;
            background-color: #7ecc44;
            color: #fff;
            font-size: 13px;
            width: 100%;
            .icon-riqi {
                font-size: 20px;
                position: relative;
                top: 2px;
            }
            .today {
                background-color: #ff4800;
                border-radius: 5px;
                font-size: 12px;
            }
            .order-num {
                font-size: 15px;
            }
        }
        &-item {
            // &:first-child {
            //     margin-top: 5px;
            // } 
            &:not(:first-child){
                margin-bottom: 5px;
            }
            // &:nth-child(2){
            //     margin-top: 5px;
            // }
        }
    }
    .title-sticky{
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index:22;
        .finish-list-content{
            padding-bottom: 0;
        }
    }
}
