<app-container class="deliver-finish-list">
    <div class="title-sticky" slot="header">
        <div v-for="(item, index) in list" :key="index" class="finish-list-content" v-show="index == titleIndex">
            <div class="finish-list-content-hd weui-flex">
                <div class="weui-flex__item">
                    <i class="icon iconfont icon-riqi"></i>
                    {{item.date}}
                    <span v-if="item.today" class="today">今天</span>
                </div>
                <!-- <div class="order-num">
                    <span class="success-num">完成0订单</span>
                    <span class="cancel-num"> 取消0订单</span>
                </div> -->
            </div>
        </div>
    </div>

    
    <div>
        <pull-refresh :refresh="refresh" :infinite="infinite" :monitoringMove="monitoringMove">
            <div ref="renderRef">
                <div v-for="(item, index) in list" :key="index" class="finish-list-content" ref="contentRef">

                    <div class="finish-list-content-hd weui-flex">
                        <div class="weui-flex__item">
                            <i class="icon iconfont icon-riqi"></i>
                            {{item.date}}
                            <span v-if="item.today" class="today">今天</span>
                        </div>
                        <!-- <div class="order-num">
                            <span class="success-num">完成0订单</span>
                            <span class="cancel-num"> 取消0订单</span>
                        </div> -->
                    </div>


                    <div v-for="(data, d) in item.data" :key="d" class="finish-list-content-item">
                        <card-box :data="data" @click="activeItem = item"></card-box>
                    </div>
                </div>
            </div>
        </pull-refresh>
    </div>

</app-container>