#goods-detail {
    overflow: hidden; //display: flex;
    height: 100%; //flex-direction: column;
    .home-content {
        //position: relative; 
        //height: 5.26rem;
        //flex: 1;
        .indexBox_logo {
            border-top: 0.08rem solid #f2f2f2;
            background: #fff;
            height: 0.94rem;
            padding: 0.13rem 0.1rem;
            border-bottom: 0.08rem solid #f2f2f2;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .wdName {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                dt {
                    height: 0.5rem;
                    width: 0.5rem;
                    border-radius: 0.05rem;
                    overflow: hidden;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                dd {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 0.1rem;
                    line-height: 1;
                    h4 {
                        color: #333;
                        font-size: 0.16rem;
                        font-weight: normal;
                    }
                    >span {
                        color: #333;
                        font-size: 0.12rem;
                        margin: 5px 0;
                    }
                    h4,
                    >span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        width: 1.45rem;
                    }
                    div {
                        height: 0.15rem;
                        width: 0.3rem;
                        color: #fff;
                        background-color: #ff1c1c;
                        font-size: 0.12rem;
                        text-align: center;
                        line-height: 0.15rem;
                        border-radius: 0.03rem;
                    }
                    p {
                        height: 0.14rem;
                        width: 0.6rem;
                        background: url("/static/images/newshop/vip.png") center center;
                        background-size: 100% 100%;
                        line-height: 0.14rem;
                        span {
                            display: inline-block;
                            margin-left: 0.25rem;
                            font-size: 0.12rem;
                            color: #fff;
                        }
                    }
                }
            }
            .serBox {
                height: 0.25rem;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0.01rem solid #808080;
                a {
                    color: #808080;
                    font-size: 0.13rem;
                    display: flex;
                    align-items: center;
                }
            }
            .sercher {
                margin-left: 0.02rem;
                font-size: 0.16rem!important;
                color: #b3b3b3;
            }
        }
    }
    .goods-cover {
        width: 100%;
        height: 3rem;
    }
    .goods-content {
        overflow: hidden;
        background: #ffffff;
        .fullOfGifts {
            padding: 0.08rem 0.13rem;
            background-color: #fefbee;
            border-top: 0.01rem solid #f2f2f2;
            b {
                font-weight: normal;
                color: #ee893e;
                font-size: 0.13rem;
            }
            span {
                font-size: 0.13rem;
                color: #ff2d00;
            }
            i {
                font-size: 0.16rem!important;
                color: #ff2d00;
            }
        }
    }
    .article-content {
        margin-left: 13px;
        margin-right: 13px;
    }
    .goods-name {
        font-size: 19px;
        color: #333333;
        padding-left: 0.13rem;
    }
    .price {
        color: #333333;
        font-size: 0.13rem;
        padding-left: 0.13rem;
        padding-bottom: 0.1rem;
        .money-price {
            margin-top: 10px;
            color: #ff1c1c;
            font-size: 0.18rem;
            span {
                font-size: 0.14rem;
                padding-right: 0.02rem;
                color: #333;
            }
        }
        .purchase {
            font-size: 0.14rem;
            color: #808080;
            text-decoration: line-through;
        }
    }
    .count_down {
        height: 0.33rem;
        border-top: 0.01rem solid #f5f5f5;
        padding: 0 0.13rem;
        color: #333333;
        display: flex;
        align-items: center;
        font-size: 0.12rem;
        b {
            font-weight: normal;
            font-size: 0.14rem;
            padding: 0 0.04rem;
        }
        img {
            height: 0.14rem;
            width: 0.14rem;
        }
        span {
            color: #ffa92f;
            font-size: 0.12rem;
        }
    }
    .promotion {
        border-top: 0.01rem solid #f5f5f5;
        height: 0.36rem;
        padding: 0 0.13rem;
        display: flex;
        align-items: center;
        span {
            &:nth-of-type(1) {
                color: #808080;
                font-size: 0.14rem;
            }
            &:nth-of-type(2) {
                display: block;
                height: 0.16rem;
                padding: 0 0.02rem;
                line-height: 0.15rem;
                text-align: center;
                border: 0.01rem solid #ff1c1c;
                border-radius: 0.05rem;
                color: #ff1c1c;
                margin-left: 0.14rem;
                font-size: 0.12rem;
            }
            &:nth-of-type(3) {
                height: 0.16rem;
                display: block;
                padding: 0 0.05rem;
                background: #d8271c;
                color: #ffffff;
                font-size: 0.12rem;
                line-height: 0.16rem;
                text-align: center;
                margin-left: 0.04rem;
            }
        }
    }
    .rank {
        overflow: hidden;
        border-bottom: 0.05rem solid #f2f2f2;
        background: #ffffff;
        .line {
            b {
                margin: 0 0.07rem;
            }
        }
        .memberlevel {
            color: #333; //  height: 1.4rem;
            overflow: hidden;
            width: 3.5rem;
            margin: 0 auto;
            background: #f2f2f2;
            margin-bottom: 0.15rem;
            padding: 0 0.4rem;
            line-height: 2.2;
            font-size: 0.15rem;
            .redColor {
                color: #ff1c1c;
            }
            p {
                display: flex;
                justify-content: space-between;
                b {
                    font-weight: normal;
                }
                span {
                    i {
                        font-style: normal;
                        font-size: 0.12rem;
                        margin-left: 0.06rem;
                    }
                }
            }
        }
    }
    .detaileall {
        overflow: hidden;
        background: #ffffff;
    }
    .line {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.08rem 0;
        .iconfont {
            font-size: 0.2rem!important;
            color: #b3b3b3;
        }
        span {
            color: #b3b3b3;
            margin-left: 0.08rem;
            font-size: 0.14rem;
        }
        b {
            display: block;
            height: 0.01rem;
            width: 0.84rem;
            background: #b3b3b3;
            margin: 0 0.18rem;
        }
    }
    .goods-desc {
        border-top: 0.01rem solid #f5f5f5;
        font-size: 14px;
        color: #808080;
        padding: 0.07rem 0.13rem;
        span {
            &:nth-of-type(1) {
                b {
                    margin-left: 0.13rem;
                    font-weight: normal;
                }
            }
        }
    }
    .desc-right {
        flex: 1;
        text-align: right;
        font-size: 0.14rem;
        b {
            font-weight: normal;
            margin-left: 0.08rem;
            font-size: 0.14rem;
        }
    }
    .width-line {
        margin-top: 10px;
        border-top: 8px solid #e5e5e5;
    }
    article {
        padding: 0 0.13rem;
        margin-bottom: 0.05rem;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .backHome {
        height: 0.5rem;
        background: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        .backHome_box {
            height: 0.3rem;
            width: 1rem;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span {
                font-size: 0.13rem;
                color: #808080;
            }
        }
    }
    .buy-content {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0px;
        z-index: 100;
        background-color: white;
        text-align: center;
        line-height: 50px;
        box-shadow: 0 0.01rem 0.2rem #808080;
        .shop-car {
            width: 50px;
            position: relative;
            .iconfont {
                font-size: 0.28rem!important;
                color: #7ecc44;
            }
            p {
                min-height: 0.18rem;
                min-width: 0.16rem;
                line-height: 0.18rem;
                text-align: center;
                position: absolute;
                top: 0.05rem;
                ;
                right: 0.05rem;
                background: red;
                color: #fff;
                border-radius: 50%;
                font-size: 0.12rem;
            }
        }
        .join-car {
            flex: 1;
            background-color: #ff973a;
            color: #FFF;
            font-size: 0.15rem;
        }
        .buy-now {
            background-color: #FF3A80;
            color: #FFF;
            flex: 1;
            font-size: 0.15rem;
        }
    }
    .stockName{
        text-align: center;
    }
    .order-cover {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1777;
        .close{
            position: relative;
            .close1{
                position: absolute;
                top: -3px;
                right: 0;
                font-size: 20px!important;
            }
        } .order-cover-box {
            opacity: 0.6;
            height: 100%;
            width: 100%;
            background-color: #333;
        }
        .order-cover-content {
            width: 3rem;
            height: 1.6rem;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            flex-direction: column;
            .weui-media-box_text {
                border-bottom: 0.01rem solid #f2f2f2;
            }
            .btn {
                margin: 0;
                border-radius: 0;
            }
            .title-h4 {
                color: #000;
                text-align: center;
            }
            .weui-box {
                height: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .weuiBtn {
                height: 0.4rem;
                display: flex;
                margin-top: 0.1rem;
                padding: 0 0.15rem;
                .weui-btn1 {
                    flex: 1;
                    height: 0.4rem;
                    display: block;
                    text-align: center;
                    line-height: 0.4rem;
                }
                .color-f {
                    background-color: #f5f5f5;
                    color: #8f8f8f;
                }
                .color-c {
                    background-color: #1AAD19;
                    color: #e5f4da;
                }
            }
            .color-b {
                color: #000;
                font-size: 0.17rem;
                span {
                    color: #fd8738;
                }
            }
            .radus {
                // margin-right: 0.1rem;
                height: 0.17rem;
                width: 0.17rem;
                position: relative;
                border: 0.01rem solid #808080;
                border-radius: 50%; //overflow: hidden;
                .radus-bg {
                    height: 0.11rem;
                    width: 0.11rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #7ecc44;
                    border: 0.01rem solid #7ecc44;
                    border-radius: 50%;
                    margin: auto;
                    overflow: hidden;
                }
            }
        }
    }
}