<app-container id="goods-detail" class="goods-detail-content">
    <div>
        <div class="home-content">
            <scroller :on-refresh="refresh" ref="my_scroller">
                <div slot="refresh-spinner" style="position:relative;top:0.1rem;">
                    <img src="/static/images/newshop/pul.gif" alt="" style="height:0.35rem;width:0.25rem;">
                </div>
                <!-- <img class="goods-cover" :src="goods.bannerImg" alt=""> -->
                <div class="goods-cover">
                    <gsbanner :dataList="bannerImg" :playerOptions="playerOptions" :hasVideo="hasBannerVideo" style="height:100%"></gsbanner>
                </div>
                <!-- 商品信息 -->
                <div class="goods-content">
                    <h4 class=" goods-name">{{goods.goodsName}}</h4>
                    <div class="price">
                        <span class="money-price" v-if="goods.consuType==2">
                            <span>进货价:</span>{{ moneyPrice | localMoney}}
                        </span>
                    </div>
                    <!-- 满赠 -->
                    <!-- <div class="fullOfGifts" v-show="isGradeShow">
                        <i class="iconfont icon-remind"></i>
                        <b>单笔进货金额满</b>
                        <span>¥8522.00</span>
                        <b>立刻升级</b>
                        <span>M3</span>
                        <b>,享新等级进货价，下单立返XXX商品68件!</b>
                    </div> -->
                    <!-- 倒计时 -->
                    <div class="count_down" v-show="showTime">
                        <img src="/static/images/newshop/time.png" />
                        <b>距商品下架时间:</b>
                        <span>{{int_day}}</span>天
                        <span>{{int_hour}}</span>小时
                        <span>{{int_minute}}</span>分
                        <span>{{int_second}}</span>秒
                    </div>
                  
                <!--  <div class="weui-flex goods-desc">
                        <span>运费:
                            <b>免运费</b>
                        </span>
                         <span class="desc-right">库存:
                        <b :style="{color:goods.amount==0?'pink':'#808080'}">{{goods.amount}}</b>
                    </span> 
                    </div>-->
                </div>
                <div class="indexBox_logo">
                    <dl class="wdName">
                        <dt>
                            <img :src="shopkeeper.wdImg" alt="">
                        </dt>
                        <dd>
                            <h4>{{shopkeeper.wdName}}</h4>
                            <span>{{shopkeeper.school}}</span>
                            <div v-if="shopkeeper.id==0">官方</div>
                            <p v-if="shopkeeper.id==1">
                                <span>{{'M'+shopkeeper.vipGrade}}</span>
                            </p>
                        </dd>
                    </dl>
                    <div class="serBox">
                        <router-link to="/cms_purchase_classify">
                            回到店铺首页
                            <i class="iconfont icon-mjiantou sercher"></i>
                        </router-link>
                    </div>
                </div>
                <div class="rank">
                    <div class="line">
                        <b></b>
                        
                        <i class="iconfont icon-dengji-copy"></i>
                        <span class="line-font">店长折扣</span>
                        <b></b>
                    </div>
                    <div class="memberlevel">
                        <div class="stockName">仓储中心代管进货价</div>
                        <p :class="{redColor:item.show}" v-for="(item,index) in grade">
                            <span>{{item.vipName}}
                                <i>(M{{item.id}})</i>
                            </span>
                            <b>{{item.vipdiscount | localMoney }}</b>
                        </p>
                    </div>
                    <div class="memberlevel">
                        <div class="stockName">商品自行管理进货价</div>
                        <p :class="{redColor:item.show}" v-for="(item,index) in owngrade">
                            <span>{{item.vipName}}
                                <i>(M{{item.id}})</i>
                            </span>
                            <b>{{item.vipdiscount | localMoney }}</b>
                        </p>
                    </div>
                </div>
                <div class="detaileall">
                    <div v-if="goods.goodsVideo">
                        <div class="line">
                            <b></b>
                           
                            <i class="iconfont icon-shipin2"></i>
                            <span class="line-font">视频</span>
                            <b></b>
                        </div>
                        <fsvideo :playerOptions="coverVideoOptions" style="height:3rem;"></fsvideo>
                    </div>

                    <div class="line">
                        <b></b>
                
                        <i class="iconfont icon-tupian"></i>
                        <span class="line-font">详情</span>
                        <b></b>
                    </div>
                    <article>
                        <p v-html="goods.textDes"></p>
                    </article>
                </div>

                <div class="backHome">
                    <div class="backHome_box">
                        <span>没有更多</span>
                    </div>
                </div>
            </scroller>
        </div>
        <!--遮罩 stockTypeShow-->
       

    </div>
   
    <footer slot="footer">
        <div class="order-cover" v-show="stockTypeShow">
            <div class="order-cover-box"></div>
            <div class="order-cover-content">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title title-h4 close">请选择进货仓储方式 <i class="iconfont icon-iconfontclose close1" @click="onClose"></i></h4>
                </div>
                <div class="weui-box" v-for="(v,i) in stockTypes" @click="chooseStockTpe(i)">
        
                    <div class="radus">
                        <div class="radus-bg" v-show="v.stocktypeShow"></div>
                    </div>
                    <div class=" color-b">
                        {{v.stocktype}}
                    </div>
                </div>
                <!-- <div class="weuiBtn">
                                 <div class="weui-btn1 color-f" @click="cancel">取消</div>
                                 <div class="weui-btn1 color-c" @click="confirm">确定</div>
                           </div> -->
            </div>
        </div>
        <div class="buy-content weui-flex">
            <div class="shop-car" @click="goShopcart">
                    <i class="iconfont icon-gouwuche"></i>
                    <p v-if="$store.state.shopCar.count != 0">{{$store.state.shopCar.count}}</p>
                </div>
                <div class="weui-flex-item join-car" @click="joinCar(goods)" v-show="goods.gsType==1">加入进货单</div>
            <div class="weui-flex-item buy-now" @click="buyNow(goods)"
            >立即购买</div>
        </div>
        <numpicker :goods="goods" :affirmFn="finish2Car" :showIt="show2Car" :hideFn="numberpckerHide" :closeFn="changeShowIt" :min="minExport"></numpicker>
        <numpicker :goods="goods" :affirmFn="finishgoPay" :showIt="showgoPay" :hideFn="numberpckerHide" :closeFn="changeShowIt" :min="minExport"></numpicker>
    </footer>
</app-container>