<!-- cms提交订单 -->
<app-container>
    <div style="padding-bottom:0.05rem;" id="order-submit-container-import">
        <!-- <app-nowifi :callBack="callBack" v-if="showNowifi"></app-nowifi> -->
        <!-- <pull-refresh> -->
        <div class="flex-satisfy" v-if="noShip">
            <div class="weui-flex__item">
                <i class="iconfont icon-remind red"></i>
                <b>校外区域未满
                    <span class="red">{{dissatisfyPrice | localMoney}}元</span>收取配送费
                    <span class="red">{{shipFee | localMoney}}元</span>
                </b>
                <br />
            </div>
            <p class="red">(校外偏远地区订单运费另算)</p>
        </div>
        <section style="background-color:#fff;">
            <div class="stock-info">
                <!-- <i>*</i> -->
                <span class="stock-desc">进货仓储方式 </span>
                <span class="float-r">{{stocktype}}</span>
            </div>
            <div class="info-link">
                <u @click="stockInfo()">进货仓储说明</u>
            </div>
        </section>
        <div class="order-detail-content" v-if="stockType==1">
            <!-- 新增收货订单 -->
            <header class="order-submitting-header">
                <!-- 实物购买 地址选择-->
                <div>
                    <div class="weui-cell" @click="dialogSelectAddress()" v-if="!selectAddressFlag">
                        <!-- @click="dialogCrateAddress()" -->
                        <div class="weui-cell__bd">
                            <i class="wybc-icon wybc-icon-plus"></i>
                            <span>新增收货地址</span>
                        </div>
                        <div class="weui-cell__ft">
                            <i class="icon iconfont icon-xiangyoujiantou"></i>
                        </div>
                    </div>
                    <div v-if="selectAddressFlag" class="order-submitting-address-info">
                        <div class="weui-cell pad" @click="dialogSelectAddress()">
                            <div class="weui-cell__hd">
                                <i class="icon iconfont icon-shouhuodizhi"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <span class="address-sjr text-ellipsis">收件人： {{orderAddress.name}}</span>
                            </div>
                            <div class="weui-cell__ft">
                                <span class="phone-fl-right">{{orderAddress.phone}}</span>
                            </div>
                        </div>
                        <div class="address-detail text-ellipsis">
                            收货地址：
                            <span class="address-info" v-if="orderAddress.addressInfo">
                                <span v-if="orderAddress.addressInfo.campus">{{orderAddress.addressInfo.campus}}</span>
                                <span v-if="orderAddress.addressInfo.dormitory">{{orderAddress.addressInfo.dormitory}}</span>
                                <span v-if="orderAddress.addressInfo.province">{{orderAddress.addressInfo.province.na}}</span>
                                <span v-if="orderAddress.addressInfo.city">{{orderAddress.addressInfo.city.na}}</span>
                                <span v-if="orderAddress.addressInfo.district">{{orderAddress.addressInfo.district.na}}</span>
                                <span>{{orderAddress.address}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="weui-progress">
                        <div class="weui-progress__bar">
                            <div class="weui-progress__inner-bar subitting-progress" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- 商品box list -->
        <section style="background-color:#fff;">
            <!-- 商品box -->
            <div class="order-detail-list">
                <div class="order-detail-item" v-for="item in orderList">
                    <div class="order-detail-head">
                        <i class="icon iconfont icon-shop"></i>
                        <span>{{item.shopName}}</span>
                    </div>

                    <div class="order-content" v-for="v in item.res">

                        <div class="weui-cell order-box-detail">
                            <div class="weui-cell__hd">

                                <img :src="v.coverImg" alt="商品图片" class="order-img">
                            </div>
                            <div class="weui-cell__bd">
                                <div class="order-text">{{v.goodsName}}</div>
                            </div>
                            <div class="weui-cell__ft">

                                <div class="label-money">{{v.moneyPrice | localMoney}}</div>
                                <div class="order-num-tip">x{{v.number}}</div>
                            </div>
                        </div>
                        <div class="order-detail-border" v-if="v.length!=1">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 商品总计 -->
        <section class="order-total">
            <!-- 实物结算明细 -->
            <div>

                <!-- 进货价小计-->
                <div class="weui-cell weui-noborder">
                    <div class="weui-cell__bd">进货价小计</div>
                    <div class="weui-cell__ft order-text">
                        {{orderTotal.price | localMoney}}
                    </div>
                </div>
            </div>
            <!-- 邮费 -->
            <div class="weui-cell" v-if="noShip">
                <div class="weui-cell__bd">配送费</div>
                <div class="weui-cell__ft order-text">
                    <!-- {{shipFee | localMoney}} -->
                    {{(stockType==1&&isInsideSchool==0&&orderTotal.price < dissatisfyPrice)?shipFee : "0" | localMoney}}
                </div>
            </div>
            <!-- 合计 -->
            <div class="weui-cell">
                <div class="weui-cell__bd">合计</div>
                <div class="weui-cell__ft order-text">
                    {{orderTotal.pay | localMoney}}
                </div>
            </div>
        </section>
    </div>
    <!-- 提交订单 -->
    <div slot="footer">
        <footer class="order-submitting-footer weui-tabbar">
            <div class="weui-cell__bd text-right">
                <span>需付:</span>
                <span class="span-money label-money">{{orderTotal.pay | localMoney}}</span>
            </div>
            <div class="weui-cell__ft">
                <button class="weui-btn_mini weui-btn" type="button" @click="submitOrder()">提交订单</button>
            </div>
        </footer>
        <div class="address-container">
            <!-- 地址操作 -->
            <address-dialog :close="closeDialogAddess" v-if="showDialogAddress" :selectAddress="selectAddress" :selectId="orderAddress.addrId"></address-dialog>

            <!-- 新增地址界面 -->
            <address-operation :close="closeCrateAddress" v-if="showAddAddress" :item="{}"></address-operation>
        </div>
    </div>
    <!-- </pull-refresh> -->


  


</app-container>