<app-container>
    <div style="padding-bottom:0.05rem;" id="order-submit-container-import">
        <div class="flex-satisfy">
            <template v-if="chooseAddressState == 1">
                <div class="weui-flex__item">
                    <i class="iconfont icon-remind center red"></i>
                    <b>校区配送区域内订单免运费</b>
                </div>
            </template>
            <template v-else-if="chooseAddressState == 2">
                <div class="weui-flex__item">
                    <i class="iconfont icon-remind center red"></i>
                    <b>
                        校区配送区域外未满<span class="center red">{{dissatisfyPrice | localMoney}}元</span>
                        将收取配送费<span class="red">{{shipFee | localMoney}}元</span>
                    </b>
                    <br />
                </div>
                <p class="center red">(校外偏远地区订单运费另算)</p>
            </template>
            <template v-else-if="chooseAddressState == 3">
                <div class="weui-flex__item">
                    <i class="iconfont icon-remind center red"></i>
                    <b>
                        校区配送区域外未满<span class="center red">{{dissatisfyPrice | localMoney}}元</span>
                        将收取配送费<span class="red">{{shipFee | localMoney}}元</span>
                    </b>
                </div>
            </template>
        </div>
        <section style="background-color:#fff;">
            <div class="stock-info">
                <span class="stock-desc">进货仓储方式 </span>
                <span class="float-r">{{stockType_Value}}</span>
            </div>
            <div class="info-link">
                <u @click="stockInfo()">进货仓储说明</u>
            </div>
        </section>
        <div class="order-detail-content" v-if="stockType_State==1">
            <header class="order-submitting-header">
                <div>
                    <div class="weui-cell" @click="dialogSelectAddress()" v-if="!selectAddressFlag">
                        <div class="weui-cell__bd">
                            <i class="wybc-icon wybc-icon-plus"></i>
                            <span>新增收货地址</span>
                        </div>
                        <div class="weui-cell__ft">
                            <i class="icon iconfont icon-xiangyoujiantou"></i>
                        </div>
                    </div>
                    <div v-if="selectAddressFlag" class="order-submitting-address-info">
                        <div class="weui-cell pad" @click="dialogSelectAddress()">
                            <div class="weui-cell__hd">
                                <i class="icon iconfont icon-shouhuodizhi"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <span class="address-sjr text-ellipsis">收件人： {{orderAddress.name}}</span>
                            </div>
                            <div class="weui-cell__ft">
                                <span class="phone-fl-right">{{orderAddress.phone}}</span>
                            </div>
                        </div>
                        <div class="address-detail text-ellipsis">
                            收货地址：
                            <span class="address-info" v-if="orderAddress.addressInfo">
                                <span v-if="orderAddress.addressInfo.campus">{{orderAddress.addressInfo.campus}}</span>
                                <span v-if="orderAddress.addressInfo.dormitory">{{orderAddress.addressInfo.dormitory}}</span>
                                <span v-if="orderAddress.addressInfo.province">{{orderAddress.addressInfo.province.na}}</span>
                                <span v-if="orderAddress.addressInfo.city">{{orderAddress.addressInfo.city.na}}</span>
                                <span v-if="orderAddress.addressInfo.district">{{orderAddress.addressInfo.district.na}}</span>
                                <span>{{orderAddress.address}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="weui-progress">
                        <div class="weui-progress__bar">
                            <div class="weui-progress__inner-bar subitting-progress" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <section style="background-color:#fff;">
            <div class="order-detail-list">
                <div class="order-detail-item" v-for="item in goodsList">
                    <div class="order-detail-head">
                        <i class="icon iconfont icon-shop"></i>
                        <span>{{item.shopName}}</span>
                    </div>
                    <div class="order-content" v-for="v in item.res">
                        <div class="weui-cell order-box-detail">
                            <div class="weui-cell__hd">
                                <img :src="v.coverImg" alt="商品图片" class="order-img">
                            </div>
                            <div class="weui-cell__bd">
                                <div class="order-text">{{v.goodsName}}</div>
                            </div>
                            <div class="weui-cell__ft">
                                <div class="label-money">{{v.moneyPrice | localMoney}}</div>
                                <div class="order-num-tip">x{{v.number}}</div>
                            </div>
                        </div>
                        <div class="order-detail-border" v-if="v.length!=1"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="order-total">
            <div>
                <div class="weui-cell weui-noborder">
                    <div class="weui-cell__bd">进货价小计</div>
                    <div class="weui-cell__ft order-text">
                        {{orderTotal.price | localMoney}}
                    </div>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">配送费</div>
                <div class="weui-cell__ft order-text">
                    {{noShipFee ? 0 : shipFee | localMoney}}
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">合计</div>
                <div class="weui-cell__ft order-text">
                    {{orderTotal.pay | localMoney}}
                </div>
            </div>
        </section>
    </div>
    <div slot="footer">
        <footer class="order-submitting-footer weui-tabbar">
            <div class="weui-cell__bd text-right">
                <span>需付:</span>
                <span class="span-money label-money">{{orderTotal.pay | localMoney}}</span>
            </div>
            <div class="weui-cell__ft">
                <button class="weui-btn_mini weui-btn" type="button" @click="submitOrder()">提交订单</button>
            </div>
        </footer>
        <div class="address-container">
            <address-dialog :close="closeDialogAddess" v-if="showDialogAddress" :selectAddress="selectAddress" :selectId="orderAddress.addrId"></address-dialog>
            <address-operation :close="closeCrateAddress" v-if="showAddAddress" :item="{}"></address-operation>
        </div>
    </div>
</app-container>