#order-submit-container-import {
    // position: relative;
    .flex-satisfy {
        width: 100%; // position: absolute;
        // bottom: 0.5rem;
        background-color: #fefbee;
        .weui-flex__item {
            height: 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 0.2rem!important;
                margin-right: 0.05rem; //color: #ee893e;
            }
            b {
                font-weight: normal;
                font-size: 0.13rem;
                color: #ee893e;
            }
        }
    } // position: relative;
    .red {
        color: #ff1c1c;
        font-size: 12px;
        text-align: center;
        height: 0.2rem;
        line-height: 0.16rem;
    }
    color: #333;
    .order-detail-content {
        //padding-bottom: 50px;
        background-color: #fff;
        .address-detail {
            font-size: 13px;
            width: 75%;
            margin-left: 28px;
            margin-bottom: 10px;
        }
        .pad {
            padding-bottom: 5px;
        }
    }
    .loading-layer {
        display: none;
    }
    .order-detail-head {
        height: 40px;
        padding-left: 6px;
        background-color: #fff;
        display: flex;
        align-items: center;
        .icon {
            font-size: 19px;
            color: #808080;
        }
        span {
            font-size: 16px;
            color: #333;
            padding-left: 5px;
        }
    }
    .order-detail-border {
        height: 6px;
        background-color: #fff;
    }
    .order-detail-list {
        .order-box-detail {
            padding-top: 5px;
            padding-bottom: 5px;
            align-items: flex-start;
            background-color: #fafafa;
            &:before {
                border: 0;
            }
        }
    }
    .stock-info {
        width: 100%;
        padding: 0 0.15rem;
        i {
            line-height: .5rem;
            font-size: .15rem;
            color: #ff1c1c;
        }
        .stock-desc {
            line-height: .5rem;
            font-size: .15rem;
            padding-right: .2rem;
        }
        .float-r {
            float: right;
            margin-top: 12px;
        }
        select {
            border: 0;
            outline: 0;
            color: #333;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            height: 100%;
            display: inline-block;
            font-size: .15rem;
            color: #333;
        }
    }
    .info-link {
        width: 100%;
        height: .38rem;
        text-align: right;
        background-color: #f2f2f2;
        font-size: .12rem;
        line-height: .38rem;
        padding: 0 0.15rem;
        u {
            color: #157aec;
        }
    }
    .weui-cell:before {
        left: 0;
    }
    .span-money {
        margin-left: 3px;
        margin-right: -4px;
    }
    .order-text {
        color: #333;
        font-size: 16.5px;
    }
    .order-num-tip {
        font-size: 13px;
        color: #808080;
    }
    .order-ps-tip {
        font-size: 12px;
        color: #808080;
    }
    .order-ps-num {
        font-size: 12px;
    }
    .order-img {
        padding-top: 5px;
        height: 65px;
        padding-left: 5px;
        padding-right: 18px;
    }
    .bg-white {
        height: 48px;
        background-color: #fff;
        position: relative;
        .weui-cell {
            align-items: flex-start;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            height: 1px;
            border-bottom: 1px solid #f2f2f2;
            z-index: 5;
            width: 100%;
        }
    }
    .order-total {
        background-color: #fff;
        margin-bottom: 0.5rem;
    }
    .weui-noborder:before {
        border: 0;
    }
    .weui-progress {
        .weui-progress__bar {
            height: 6px;
        }
        .subitting-progress {
            background-color: #f7768a;
            background-image: linear-gradient( 50deg, rgba(247, 118, 138, 1) 25%, transparent 25%, transparent 50%, rgba(241, 239, 239, 1) 50%, rgba(241, 239, 239, 1) 75%, transparent 75%, transparent);
            background-size: 40px 40px;
        }
    }
    .weui-flex {
        width: 100%;
        position: absolute;
        bottom: 0.5rem;
        background-color: #fefbee;
        .weui-flex__item {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 0.2rem!important;
                color: #7ecc44;
            }
            b {
                font-weight: normal;
                font-size: 0.12rem;
                color: #333;
            }
            span {
                color: #ff1c1c;
                font-size: 0.12rem;
            }
        }
    }
     .order-show1 {
        color: #808080;
        font-size: .13rem;
        span {
            width: 20%;
            position: relative;
            display: block;
            float: left;
            text-align: center;
            &:nth-child(2) {
                width: 60%;
            } //  &:nth-child(3){
            //     width: 30%;
            // }
        }
        p {
            clear: both;
            height: .16rem;
            display: table;
            margin: 0 auto;
            &.e6e6e6 {
                b,
                i {
                    background-color: #e6e6e6;
                }
            }
            b {
                font-size: .18rem;
                width: .065rem;
                height: .065rem;
                background-color: #7ecc44;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                &.weui-icon-success {
                    width: .18rem;
                    height: .18rem;
                    background: transparent;
                }
            }
            .icon-chenggong {
                background: transparent;
            }
            .icon-chenggong:before {
                position: absolute;
                top: -0.12rem;
                left: -0.05rem;
                color: #7ecc44;
                z-index: 9999;
            }
            .icon-chenggong~b,
            .icon-chenggong~i {
                background-color: #e6e6e6;
            }
            i {
                display: inline-block;
                vertical-align: middle;
                margin: 0 .08rem;
                width: 1.2rem;
                height: .02rem;
                background-color: #7ecc44;
            }
        }
    }
}

.order-submitting-footer {
    position: fixed;
    height: 50px;
    background-color: #fff;
    z-index: 700;
    bottom: 0;
    width: 100%;
    span {
        line-height: 50px;
    }
    button {
        height: 50px;
        margin-left: 10px;
        $bgcolor: #ff3a80;
        background-color: $bgcolor;
        border-radius: inherit;
        border: none;
        font-size: 17px;
        &:focus {
            background-color: transparentize($bgcolor, 0.3);
        }
    }
}