<div class="money-detail">
    <ul class="money-type">
        <li :class="{active:i==showIndex}" v-for="(v,i) in moneyDetailList" @click="switchtab(i)">{{v}}</li>
    </ul>
    <div class="goldNum weui-flex">
        <div class="goldadd weui-flex">
            <img src="/static/images/money/tongji.png" alt="">
            <span>近30天{{showIndex==0?"新增":"消耗"}}金币总数
                <b>{{produceRecord.goldAmount}}</b>
            </span>
        </div>
        <div class="goldnow">当前金币
            <b>{{produceRecord.nowGold}}</b>
        </div>
    </div>
    <div class="content" v-for="(v,i) in moneyDetailList" v-if="i==showIndex">
        <pull-refresh :refresh="refresh" :infinite="infinite">
           
            <div class="li weui-flex" v-for="v in produceRecord.goldDetails">
                <div class="list-lef weui-flex" v-if="showIndex==0">
                    <img src="/static/images/money/jia.png">
                    <span>{{v.title}}
                        <p v-if="v.orderNo">订单号:{{v.orderNo}}</p>
                        <!-- <p>订单号：25330158206226</p> -->
                    </span>
                </div>
                <div class="list-lef weui-flex" v-if="showIndex!=0">
                    <img src="/static/images/money/jian.png">
                    <span>{{v.title}}
                        <p v-if="v.orderNo">订单号:{{v.orderNo}}</p>
                    </span>
                </div>
                <div class="list-rig">
                    <p>
                        <b>{{showIndex==0?'+'+v.gold:v.gold}}</b>
                    </p>
                    <p>
                        {{v.createAt}}
                    </p>
                </div>
            </div>
        </pull-refresh>
    </div>
</div>