.real-container-distributor {
    .real-hd {
        width: 100%;
        margin-top: 48px;
        margin-bottom: 100px;
        .real-info {
            text-align: center;
            .real-info-title {
                font-size: 21px;
                color: #ffa914;
            }
            .real-info-text {
                font-size: 15px;
                color: #333;
            }
        }
    }
    .real-bd {
        text-align: center;
        .real-img {
            width: 200px;
            height: 200px;
            margin: auto;
            background: url(../../../../static/images/minishop/shiming.png) left no-repeat;
            background-size: 200px;
        }
    }
    .real-ft {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        button {
            display: block;
            width: 100%;
            height: 100%;
            border: none;
            color: #fff;
            font-size: 19px;
            background-color: #7ecc44;
        }
    }
}