<div class="indexBox">
    <div class="header1">
        <!-- 导航 -->
        <nav-row :navList="classfyList" @on-change="navSelected" :constIndex='true'></nav-row>
    </div>
    <div class="home-content">
        <!-- 公告 -->
        <app-topnotice :msgOpts="msgOpts"></app-topnotice>
        <pull-refresh :refresh="refresh" ref="my_scroller" :infinite="infinite">
            <!-- 轮播 -->
            <div class="carousel" v-show='homeAd && homeAd.length != 0'>
                <app-banner :listImg="homeAd" style="height:100%;"> </app-banner>
            </div>

            <iconsList :iconsList="iconsList" v-show="iconsList && iconsList.length != 0"></iconsList>
            <!-- 商品类别 -->
            <div class="shopList" v-if="recommendations && recommendations.length != 0">
                <!-- 爆款商品 -->
                <div class="explosionShop">
                    <div class="explosionShop_lef" @click="goPage(recommendations[0], 0)" v-if="recommendations[0]">
                        <img :src="recommendations[0].imgUrl" />
                    </div>
                    <div class="explosionShop_rig" v-if="recommendations[1]||recommendations[2]">
                        <div class="rig_t" @click="goPage(recommendations[1], 1)" v-if="recommendations[1]">
                            <img :src="recommendations[1].imgUrl" />
                        </div>
                        <div class="rig_t" @click="goPage(recommendations[2], 2)" v-if="recommendations[2]">
                            <img :src="recommendations[2].imgUrl" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- 限时购 banner -->
            <timelimit-banner ref="timelimitRef"></timelimit-banner>

            <!-- 精品兑换 -->
            <ul class="goodsList">
                <li v-for="item in classfyGoodses">
                    <div v-if="item.goodsList && item.goodsList.length > 0" class="li_top">
                        <div class="img">
                            <img :src="item.goodsList[0].nameImgUrl" alt="">
                        </div>
                        <span id="seeAll" @click="onSeeAll(item.classifyId)">查看全部>></span>
                    </div>
                    <div class="goodsList_carousel" v-if="item.adList">
                        <app-banner :listImg="item.adList"> </app-banner>
                    </div>
                    <list-goods :dataList="{data:item.goodsList}" v-if="item.goodsList&&item.goodsList.length!=0" @joinCar="joinCar"></list-goods>
                </li>
            </ul>
        </pull-refresh>
    </div>
</div>