<app-container  class="grade-container">

    <div ref="gradeRef">
        <!-- VIP等级页面 -->
        <header class="grade-c_hd" :class="{'lock-hd': currentGrade.status === 'lock'}">
            <!-- 头部信息 -->
            <div class="grade-headinfo">
                <div class="grade-title">
                    <div class="grade-num">M{{currentGrade.grade}}</div>
                </div>
                <div class="grade-userimg">
                    <img :src="currentGrade.userImg" v-if="currentGrade.userImg" class="userImg">
                    <img :src="currentGrade.gradeImg" alt="" class="gradeImg" v-if="currentGrade.gradeImg && currentGrade.status !== 'lock'">
                    <div v-if="currentGrade.status === 'lock'" class="lock-info">
                        店长锁定
                    </div>
                </div>
            </div>
            <!-- 等级轮播 -->
            <div class="swiper-container" ref="gradeSwiper">
                <div class="swiper-wrapper">
                    <template v-for="(item, index) in gradeList">
                        <div class="swiper-slide grade-boxs">
                            <div class="grade-box" :class="{'grade-box-active': item.grade === gradeActive, 'grade-box-tip':item.msg, 'grade-box-ok': currentGrade.grade > item.grade  }"
                                @click="switchgrade($event,item)">
                                <transition name="fadeUp">
                                    <span class="tip text-ellipsis" v-if="item.msg" :class="{'animate-bounce-up': tipCreate}">
                                        {{item.msg}}
                                    </span>
                                </transition>
                                <img :src="item.src">
                            </div>
                        </div>
                        <!-- <div class="swiper-slide grade-boxs" v-if=" gradeList.length-1 > index">
                        <div class="grade-progress">
                            <div class="grade-progress-slider" :class="[currentGrade.grade >  item.grade ? 'slider-full' : 'slider-zero']"></div>
                        </div>
                    </div> -->
                    </template>
                </div>
            </div>
        </header>
        <section class="grade-c_bd">
            <!-- 特权 -->
            <div class="grade-bd-zs" v-show="gradeData.tqData">
                <div class="grade-bd-title">
                    <div class="flag-title"></div>
                    {{gradeData.gradeName}}特权 (
                    <span>M{{gradeData.grade}}</span>)
                    <!-- <div class="fr">
                        <a href="javascript:void(0)" @click="toGuide">店长等级说明</a>
                    </div> -->
                </div>
                <div class="weui-flex">
                    <img src="/static/images/minishop/li.png" alt="">
                    <div class="weui-flex__item">
                        普通订单返利： {{gradeData.tqData.discount}}
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer class="ft grade-c_ft" slot="footer">
    </footer>

</app-container>
