.delivery-card-box {
    padding: 12px 12px 12px 13px;
    width: 100%;
    height: auto;
    background-color: #fff;
    .rob-box, .pickup-box, .delivering-box {
        &-hd {
            text-align: center;
            .money {
                font-size: 15px;
                color: #f41c1c;
                margin-bottom: -10px;
                span {
                    font-size: 30px;
                }
            }
            .info {
                font-size: 11px;
                color: #ffa914;
            }
        }
        &-bd {
            >div:nth-child(2) {
                margin-top: 10px;
                margin-bottom: 5px;
            }
            .right {
                margin-left: 8px;
                font-size: 15px;
                color: #333;
            }
            .fromAddress {
                font-size: 13px;
                color: #808080;
            }
        }
        &-ft {
            margin: 12px 27px 0 27px;
        }
    }
    a{
        color: #333;
        display: inline-block;
        width: 100%;
    }  
    .take-img,
    .give-img {
        height: 16px;
        width: 16px;
        margin-top: 5px;
    }
    .point-img {
        height: 20px;
        width: 16px;
        margin-top: 1px;
    }
}