<div class="delivery-card-box">

    <!-- 抢单 -->
    <template v-if="cardType === 'rob'">
        <div class="rob-box">
            <div class="rob-box-hd">
                <div class="money">￥<span>{{data.deliveryMoney/100}}</span></div>
                <div class="info">本单收入</div>
            </div>
            <div class="rob-box-bd" @click="toDetail">
                <div  class="weui-flex">
                    <img :src="takeImgSrc" class="take-img">
                    <div class="right">{{data.getAddress}}</div>
                </div>
                <div class="weui-flex">
                    <div class="pending">
                        <img :src="pointImgSrc" class="point-img">
                    </div>
                    <div class="right fromAddress">{{data.getAddressDetail}}</div>
                </div>
                <div class="weui-flex">
                    <img :src="giveImgSrc" class="give-img">
                    <div class="right"><p>{{data.to}}</p><p>{{data.deliveryAddress}}</p><p v-if="data.sex" class="sex-drom">{{data.sex == 1 ? '男生宿舍' :'女生宿舍'}}</p></div>
                </div>
            </div>
            <div class="rob-box-ft">
                <button class="primary" type="button" @click="mainClick" v-debounce>接单</button>
            </div>

        </div>
    </template>

    <!-- 取货 -->
    <template v-else-if="cardType === 'pickup'">

        <div class="pickup-box">
            <div class="pickup-box-hd">
                <div class="money">￥<span>{{data.deliveryMoney/100}}</span></div>
                <div class="info">本单收入</div>
            </div>
            <div class="pickup-box-bd" @click="toDetail">
                <div class="weui-flex">
                    <img :src="takeImgSrc" class="take-img">
                    <div class="right">{{data.getAddress}}</div>
                </div>
                <div class="weui-flex">
                    <div class="pending">
                        <img :src="pointImgSrc" class="point-img">
                    </div>
                    <div class="right fromAddress">{{data.getAddressDetail}}</div>
                </div>
                <div class="weui-flex">
                    <img :src="giveImgSrc" class="give-img">
                    <div class="right">
                        <p>{{data.to}}</p>
                        <p>{{data.deliveryAddress}}</p>
                        <p v-if="data.sex" class="sex-drom">{{data.sex == 1 ? '男生宿舍' :'女生宿舍'}}</p>
                    </div>
                </div>
            </div>
            <div class="pickup-box-ft weui-flex">
                <button class="default" type="button" @click="callClick" v-if="data.deliveryState != 5">联系商家</button>
                <button type="button" @click="mainClick" :disabled="data.deliveryState == 5" :class="[data.deliveryState == 5 ? 'disabled-btn' : 'primary']">{{data.deliveryState == 5 ? '分拣中' : '我已取货'}}</button>
                <!-- <button class="primary" type="button" @click="mainClick">我已取货</button> -->
            </div>
        </div>
    </template>


    <!-- 配送中 -->
    <template v-else="cardType === 'delivering'">

        <div class="delivering-box">
            <div class="delivering-box-hd">
                <div class="money">￥<span>{{data.deliveryMoney/100}}</span></div>
                <div class="info">本单收入</div>
            </div>
            <div class="delivering-box-bd" @click="toDetail">
                <div class="weui-flex">
                    <img :src="takeImgSrc" class="take-img">
                    <div class="right">{{data.getAddress}}</div>
                </div>
                <div class="weui-flex">
                    <div class="pending">
                        <img :src="pointImgSrc" class="point-img">
                    </div>
                    <div class="right fromAddress">{{data.getAddressDetail}}</div>
                </div>
                <div class="weui-flex">
                    <img :src="giveImgSrc" class="give-img">
                    <div class="right">
                        <p>{{data.to}}</p>
                        <p>{{data.deliveryAddress}}</p>
                        <p v-if="data.sex" class="sex-drom">{{data.sex == 1 ? '男生宿舍' :'女生宿舍'}}</p>
                    </div>
                </div>
            </div>
            <div class="delivering-box-ft weui-flex">
                <button class="default" type="button" @click="callClick">联系买家</button>
                <button class="primary" type="button" @click="mainClick">确认送达</button>
            </div>
        </div>
    </template>

</div>